[2012-08-24 16:17] sillykelvin opened #1 "hard-code issue in symbol "op/publish-html-postamble-template""
the name and github link are hard-coded, fix them.

[2012-08-26 06:11] sillykelvin opened #2 "html files of tags and recent posts not generated"
when publishing project the first time, the generated org files of tags and recent posts are not published to html.
#

reason:
the to-be-published file list is generated before the tags and recent posts org file generated, so they are not included in the file list, update the file list after the org files generation can solve this problem.

[2012-08-26 06:14] sillykelvin opened #3 "garbage characters"
by default the html page charset is "iso-8859-1", should use "utf-8" instead, otherwise DBCS will show as garbage characters.

[2012-08-26 06:17] sillykelvin opened #4 "tag files are included in sitemap and recent posts"
because tag org files are treated as normal to-be-published files, they are also included while generating sitemap org file and recent posts org file, please remove them from the included file list.

[2012-08-26 06:21] sillykelvin opened #5 "common page title"
there should be a common page title, except navigation bar and post title.

[2012-08-26 09:48] sillykelvin opened #6 "add htmlized org file link to each page"
while publishing, the original org files are also published (just htmlized), add the corresponding link to each html-exported page.

[2012-08-26 16:09] #2 closed, assigned to sillykelvin

[2012-08-26 16:10] #4 closed, assigned to sillykelvin

[2012-08-28 15:48] #6 closed, assigned to sillykelvin

[2012-08-28 15:57] sillykelvin opened #9 "add tag links to post footer"
links to the tag pages that current post used should be added to the footer of the post.

[2012-11-23 09:34] #9 closed, assigned to sillykelvin

[2012-11-23 09:36] #5 closed, assigned to sillykelvin

[2012-11-23 09:37] sillykelvin opened #10 "integrate disqus"
Currently the section about disqus is hard coded, implement it.

[2012-11-25 15:23] sillykelvin opened #11 "verify two required variables while doing initialization"
the variables `op/publish-site-url` and `op/personal-disqus-shortname` are required, while doing initialization, verify them to ensure they are not empty.

[2012-11-25 15:25] sillykelvin opened #12 "merge two similar variables"
the variable `op/publish-search-url` and `op/publish-site-url` are almost the same, merge them into one.

[2012-11-25 15:26] sillykelvin opened #13 "change the html publication directory name"
currently the name is "html", but I think "blog" is much better.

[2012-11-25 15:32] sillykelvin opened #14 "refine the path when reorganizing the project structure"
currently "category" does not make much sense, when reorganizing the project structure, make a new directory with the name of the file's category, and put the file in it, so, at last a file will have the following path:
`<op/root-directory>/src/<category>/2012/11/25/<file-title>/index.org`
I think this kind of structure is much better.

[2012-11-26 02:32] #10 closed, assigned to sillykelvin

[2012-11-26 03:18] sillykelvin opened #15 "the disqus_url is incomplete"
the publication directory "blog" is missing from current entire URL path.

[2012-11-26 04:35] sillykelvin opened #16 "RSS implementation"
please implement RSS subscription.

[2012-11-26 04:37] sillykelvin opened #17 "index/about pages generation"
if there is no default index/about page, generate both.

[2012-11-26 12:55] #12 closed, assigned to sillykelvin

[2012-11-26 12:55] #14 closed, assigned to sillykelvin

[2012-11-26 12:55] #15 closed, assigned to sillykelvin

[2012-11-26 12:56] #11 closed, assigned to sillykelvin

[2012-11-26 12:56] #13 closed, assigned to sillykelvin

[2012-11-26 14:06] #17 closed, assigned to sillykelvin

[2012-11-26 14:08] #3 closed, assigned to sillykelvin

[2012-11-27 13:10] sillykelvin opened #18 "Change the encoding of generated files"
The encoding of generated files, such as files under folder "tags", is "ISO-8859-1", so DBCS on this kind of page will show as garbage character, change it to "UTF-8".

[2012-12-03 06:03] sillykelvin opened #19 "html tag <strong> does not work"
@<strong> tag in org file does not turn the text in it into bold.

[2012-12-03 06:07] #19 closed, assigned to sillykelvin

[2012-12-03 06:34] sillykelvin opened #20 "source code snippets are messed up"
code snippets between `#+begin_src` and `#+end_src` are converted into one line, but code snippets defined after colon `:` are not affected.

[2012-12-12 15:36] #20 closed, assigned to sillykelvin

[2012-12-13 13:30] wellown opened #21 "some example org file needed"
In order to help understanding how org-page works, some org files should added into the repos.

[2012-12-16 09:02] fxyzbtc opened #22 "org-page mess around the org files"
Ref: http://www.v2ex.com/t/53456#reply8
1. .emacs configured as org-file guide
2. export function looks working, and the html file was generated successfully
3. but the org-file content structure was messed, e.g.

[code]

became

[code]
1. the headings wasn't changed
2. the code blocks or sample or sources were also changed by replacing the \r\n with nothing

[2012-12-16 10:49] #21 closed, assigned to nobody

[2012-12-31 09:23] #18 closed, assigned to sillykelvin

[2013-03-11 03:19] sillykelvin opened #23 "slashes of URI are transformed into html tag <i> and </i>"
On branch office, example code `@<a href="/blog/post/">Title@</a>` is transformed into:
<a href="<i>blog/post</i>">Title</a>, which is an improper transformation.

[2013-03-11 04:25] sillykelvin opened #24 "exported buffers are all opening"
After exporting, all html buffers are opening, close them.

[2013-03-14 13:30] #23 closed, assigned to sillykelvin

[2013-03-14 13:30] #24 closed, assigned to sillykelvin

[2013-03-15 09:09] sillykelvin opened #25 "blog index/wiki index required"
blog index/wiki index generation function is needed, and then the links to blog and wiki can be shown on header.

[2013-03-17 15:57] sillykelvin opened #26 "about page cannot be generated"
currently the about page "about.org" is treated as a normal post, so it is generated as a blog post, not the about page.

[2013-03-18 15:40] xiaohanyu opened #28 "add twitter/bootstrap theme support"
twitter/bootstrap provides some concise css/javascript solution.

I'll try to add this in a few weeks.

[2013-03-18 15:50] xiaohanyu opened #29 "try limit line length to 80 in code"
I've found some code in org-page.el is 160 characters long, that makes code reading on laptop difficult.

As a convention, I'll try to make some refactoring and restyle to the code, if you agree with me, kelvinh.

[2013-03-20 11:31] sillykelvin opened #30 "Improve directory processing"
Every time when using `op/repository-directory`, `(file-name-as-directory op/repository-directory)` is required to ensure correctness. Ensure it before publication will save many efforts, so does many other directories, like `pub-root-dir`, etc.

[2013-03-20 15:35] sillykelvin opened #31 "Do not change branch during publication"
publication depends on the org files of specified branch, change to other branches will lead to empty publication.

[2013-03-20 16:15] #31 closed, assigned to sillykelvin

[2013-03-20 16:32] sillykelvin opened #32 "Refine the theme templates"
Refine the theme templates, seperate html code from lisp code.

[2013-03-20 16:33] #25 closed, assigned to sillykelvin

[2013-03-20 16:33] #26 closed, assigned to sillykelvin

[2013-03-22 06:29] sillykelvin opened #33 "Garbage characters"
Garbage characters occur when title has DBCS, but post contents only contain ASCII.

[2013-03-22 08:24] sillykelvin opened #34 "Theme change will not take effect"
Corresponding variables, e.g. `op/html-head-template`, are set when defined. Any changes to `op/theme` later cannot affect these variables, so theme change will not take effect.

[2013-03-22 08:25] #32 closed, assigned to sillykelvin

[2013-03-22 09:47] #33 closed, assigned to sillykelvin

[2013-03-24 16:47] sillykelvin opened #35 "Update descriptions"
Update descriptions for `op-export.el`, `op-enhance.el`, `op-vars.el`.
Especially the last.

[2013-03-25 07:41] #35 closed, assigned to sillykelvin

[2013-03-25 11:06] #1 closed, assigned to sillykelvin

[2013-03-25 11:25] #22 closed, assigned to nobody

[2013-03-25 12:10] #34 closed, assigned to sillykelvin

[2013-03-25 12:35] #30 closed, assigned to sillykelvin

[2013-03-25 13:07] #29 closed, assigned to nobody

[2013-04-01 03:16] xiaohanyu opened #38 "add republish all support"
when you change the entire site to a new theme, you need to republish all files. The op/republish all function just republish all *.org files one by one.

[2013-04-01 03:18] xiaohanyu opened #39 "add float and collapse TOC support"
Table Of Contents(TOC) is suitable to be a sidebar-like section, see:
http://orgmode.org/worg/

I've implement the basic theme style in my local branch, and I expect that this feature will be complete in this week.

[2013-04-01 03:22] xiaohanyu opened #40 "add op/new-project support"
I've dived into the code and find it promising using the new git-based publishing strategy. But they are some requirement which is much be set before you can publish the project. Say, let project-dir be "/tmp/op-pub", then "/tmp/op-pub" must be:
- the "/tmp/op-pub" must be a git repo
- the git repo must have "master" and "source" branch
- the "/tmp/op-pub" should have some basic directory structur

[2013-04-01 03:26] xiaohanyu opened #41 "add collapsable and copiable code block support"
code block in exported org html files is just long long htmlized plain text. When code is long, it should make it possible collapable and copiable.

I'm not sure whether or not javascript can do this, but I'll try it.

[2013-04-01 03:30] xiaohanyu opened #42 "add exportable pdf feature"
see http://freemind.pluskid.org/misc/printable-version-pdf-of-this-blog/.

And I think pdf export is very easy in org file without CJK. There may be some work with CJK support, but this is not that hard since xecjk in texlive is quite easy to use.

This feature should be a addon for the entire site, and you can enable/disable it at any time. All you need to do is just op/republish the whole projec

[2013-04-01 06:02] sillykelvin opened #43 "The URI of index and about should not be customized"
The URI of index and about should always be `/` and `/about/`, they should cannot be customized by `#+URI` property.

[2013-04-01 06:44] #43 closed, assigned to sillykelvin

[2013-04-01 15:13] xiaohanyu opened #44 "Add mustache template support and some more modernized elisp library?"
hi, kelvin:

I've found template with elisp format-spec is not flexible enough, and it is not user-friendly for template designers(for example, %d, %a is not as clearly understandable as {{date}}, {{author}}).

How do you think that we turn the simple format-spec based template to mustache-based template strategy? There're already some simple elisp library that support mustache, see:
- https://git

[2013-04-02 13:01] xiaohanyu opened #45 "[coding style]use let instead of let* when possible"
I think it's better to use let instead of let\* when possible. I don't know whether elisp has this coding style limit, but I do remember that common lisp recommand using let instead of let\* when possible.

In common lisp, let has more clear semantic and better performance(for example, let can do parallel assignment while let\* must do sequential assignment.

I'll do some code refinement this week

[2013-04-02 15:29] #45 closed, assigned to nobody

[2013-04-07 15:22] sillykelvin opened #50 "No org files are published"
In function `op/publish-changes`, there is a code snippet:

[code]

 `org-file` is always like "/home/xxx/ab.org", but `upd-list` is always like (... "~/ab.org" ...), so no org file can match the string and of course no files are published.

[2013-04-07 15:35] #38 closed, assigned to nobody

[2013-04-07 15:36] #50 closed, assigned to sillykelvin

[2013-04-08 07:12] sillykelvin opened #51 "Update README"
The definition of `op/do-publication` is changed, update README to make them match.

--edit--
New function `op/new-repository` is added, add section in README to introduce it.

[2013-04-08 13:42] #40 closed, assigned to nobody

[2013-04-08 13:44] sillykelvin opened #52 "Make `op/new-repository` interactive"
As the title described, make this function interactive.

[2013-04-08 14:02] sillykelvin opened #53 "Add style for "blockquote" of default theme"
The `<blockquote>` tag has no special effect, add css style for it (default theme).

[2013-04-09 11:37] #52 closed, assigned to sillykelvin

[2013-04-09 11:37] #53 closed, assigned to sillykelvin

[2013-04-11 16:16] sillykelvin opened #54 "Last modification date is not accurate"
The last modification date obtained according to file's attribute is not reliable, may consider using git's last modification date instead.

[2013-04-12 15:59] chunhuawu opened #55 "Is org-page compatible with Org Mode 8.0"
Hi Kelvin,

I find your work really helpful! Is org-page currently compatible with the new release of Org Mode 8.0? Thanks very much!

C Wu

[2013-04-12 17:01] sillykelvin opened #56 "Update op/export-as-html"
Remove the meta tag generation time, otherwise publication everytime will update the time for auto generated tag pages and git will consider them as modified, in fact, they are actually not modified.

[2013-04-14 10:49] sillykelvin opened #57 "Cannot obtain git recorded last change date"
if there is a space in file name, `op/git-last-change-date` will return nil, so consider to quote the filename to avoid this condition.

[2013-04-14 10:51] #54 closed, assigned to sillykelvin

[2013-04-14 10:51] #57 closed, assigned to sillykelvin

[2013-04-22 06:02] sillykelvin opened #58 "Add google analytics support"
Add google analytics support, like disqus.

[2013-04-28 12:51] sillykelvin opened #59 "Remove unused variables"
As others suggested, "Convention over Configuration", so variable like `op/css-list` makes no use. delete variables like this.

[2013-05-07 12:21] sillykelvin opened #60 "Enhance the template system"
Finally I realized that I should design org-page into two parts:
1. the core component, responsible for providing rendered html, and other meta info;
2. the template system, responsible for rendering the things provided by core together, according to some templates.

For users, they only need to care about how to design the templates.

[2013-05-19 15:37] sillykelvin opened #61 "Meta info section is shown on unwanted pages"
Meta info section is shown on blog index page, wiki index page, etc. it should not show on these pages, remove it.

[2013-05-19 15:40] #61 closed, assigned to sillykelvin

[2013-05-19 15:45] sillykelvin opened #62 "Layout of footnotes"
Footnotes of default theme look bad, update CSS of it.

[2013-05-19 16:30] #44 closed, assigned to nobody

[2013-05-19 16:30] #60 closed, assigned to sillykelvin

[2013-05-19 16:32] #55 closed, assigned to nobody

[2013-05-19 16:33] #58 closed, assigned to sillykelvin

[2013-05-19 16:34] #56 closed, assigned to sillykelvin

[2013-05-21 16:16] #59 closed, assigned to sillykelvin

[2013-05-21 16:18] kelvinh opened #63 "Some helper functions needed"
Such as `op/new-wiki-post`, `op/new-blog-post`, or `op/query-tags`.

[2013-05-21 16:18] #51 closed, assigned to sillykelvin

[2013-05-21 16:20] #42 closed, assigned to nobody

[2013-05-28 14:21] sillykelvin opened #64 "Move template files and resource files of a theme into one folder"
Currently template files of theme `default` and resource files of theme `default` are seperated in two folders ("themes" and "templates"), move them together.

[2013-05-30 04:23] #62 closed, assigned to sillykelvin

[2013-05-31 10:02] #64 closed, assigned to sillykelvin

[2013-06-03 11:22] sillykelvin opened #65 "Improve tag pages"
The default tag pages are not so friendly for reading when there are too much tags, design a better page.

May design a template and then just fill the template with tags.

[2013-06-06 21:47] chunhuawu opened #66 "Customize pages"
Hi Kelvin,

Thanks very much for making the program compatible with org mode 8.0.
I see that you have predefined two categories for posts: blog and wiki. I am wondering whether you can make this more general to allow customizing these categories, for example, whether I can easily add more categories or change the names of blog and wiki.

Thanks very much
Chunhua

[2013-06-09 03:41] guweigang opened #67 "can not do publish"
When I type M-x op/do-publication in emacs, it warns me error ...

Making completion list...
Publish all org files? (y or n)  y
Publish to a directory? (to original repo if not) (y or n)  n
Auto commit to repo? (y or n)  y
let*: Symbol's function definition is void: -slice

[2013-06-09 05:42] #67 closed, assigned to nobody

[2013-06-21 07:58] guweigang opened #68 "Errors when op/do-publication"
Env:

[code]

Message:

[code]

[2013-06-24 10:49] #68 closed, assigned to nobody

[2013-06-27 15:30] guweigang opened #69 "how to split tags in org files?"
Hi, can i add more than one tags in one org-blog file?

If can, how to split them?

I have tried comma "," and space " ", nothing to be right.

thank u very much

[2013-06-28 11:11] #69 closed, assigned to nobody

[2013-07-13 17:22] sillykelvin opened #70 "pagination feature"
When there are too many posts, the blog index page will be very long, consider to implement pagination feature.

[2013-07-14 16:05] sillykelvin opened #71 "a better tag index page"
If there are two many tags, the tag index page will be very long, consider to design a better tag index page.

[2013-07-21 07:18] sillykelvin opened #72 "improve `op/insert-options-template`"
Currently inserted option **#+URI** of `op/insert-options-template` is not friendly, try to make it auto determined by category.

[2013-08-05 14:12] altkatz opened #73 "(require 'ox) in org-page.el not found in built-in org-mode of Emacs 24.3"
Turns out org-mode has renamed a lot of "org-export-*" to "ox" since 8.0.
might be a little confusing to newbies like me.

[2013-08-06 06:11] #73 closed, assigned to nobody

[2013-08-17 07:02] altkatz opened #75 "How to do syntax highlight in the html output of the #+BEGIN_SRC #+END_SRC block?"

[2013-08-18 00:22] #75 closed, assigned to nobody

[2013-08-26 07:43] guweigang opened #79 "Error when M-x op/do-publication after updating org-page"
Publish all org files? (y or n)
y
Publish to a directory? (to original repo if not) (y or n)  n                                                                                                                            Auto commit to repo? (y or n)
y
s-replace: Wrong type argument: arrayp, nil

[2013-08-29 04:22] ksexton opened #80 "Add option to automatically do a push of source and master branches"
It would be nice if (op/do-publication) would also optionally do a remote push of master/source branches in addition to the local git commits.  This would ease publishing to places like Github Pages.

[2013-08-29 15:06] #79 closed, assigned to nobody

[2013-10-10 01:27] #16 closed, assigned to sillykelvin

[2013-12-15 07:30] #80 closed, assigned to nobody

[2013-12-18 09:01] standino opened #82 "页面上添加目录"
能在生成的页面上加上目录吗？
类似这个页面上的 Table of Contents  http://orgmode.org/org.html

谢谢。

[2013-12-19 12:33] #82 closed, assigned to nobody

[2014-01-10 04:28] #72 closed, assigned to sillykelvin

[2014-01-30 16:07] emilioj opened #83 "Relative paths beginning with /"
Hi there!

I like your approach and so I am thinking in using your org-page to maintain my personal webpage (kudos for your work!). The thing is: my webpage is in a directory (eg. http://www.domain.com/~me), but all relative paths are generated by org-page beginning with '/', so they are all relative to the domain (http://www.domain.com/media/css/main.css instead of http://www.domain.com/~me/media

[2014-02-12 04:19] #83 closed, assigned to nobody

[2014-02-21 13:09] ic3guy opened #85 "Search Bar and Ad-Block"
When viewing a page generated with org-page on Chrome that has ad-block. The rendering of the fonts is incorrect. Turning off ad-block fixes the problem. I guess it doesn't like the google search.

[2014-02-23 15:53] #85 closed, assigned to nobody

[2014-02-27 14:09] ic3guy opened #86 "When (require 'org-page) mustache mode is automatically loaded at startup of emacs"
I like to keep my emacs loads to a bare minimum. mustache-mode should not be loaded by default.

I'm just a beginner emacs lisp dev, but I think this fixes the issue.

In op-template.el, remove the (require 'mustache) and put under the requires (autoload 'mustache-render "mustache").

It seems that the 'mustache-render is the only function that you use, so this looks right to me.

[2014-02-28 14:22] ic3guy opened #87 "Not able to include images."
When putting link [[file:me.jpg]] of a local image, after a do/publication, the image should end up in media/img in master.

[2014-03-09 08:57] #86 closed, assigned to nobody

[2014-03-11 01:26] #87 closed, assigned to nobody

[2014-03-25 11:39] sillykelvin opened #88 "Source Code Hightlighting"
Org-export uses `htmlize.el` to hightlight code blocks, as it depends on Emacs' theme, so it is a little annoying: if the theme changes, all color will change, and those files contain source code blocks will change, and a `git commit` is needed, though there is **no actual useful content change!**

Consider using google [prettify.js](https://code.google.com/p/google-code-prettify/) instead.

[2014-03-25 11:48] #88 closed, assigned to sillykelvin

[2014-03-30 17:09] joonhwan opened #89 "how to setup my own css ?"
Nice idea utilizing org as static generator with git.

I finally figured out how to update my own github.io pages, but from my point of view, the mod css looks too much for me. I just want to simplest css site. How to configure?

My own org-page configuration follows

[code]

it seems that op/template-directory var is key to do that but I've not catch up yet.
Any help would be appreciated.

Thanks

[2014-03-31 04:40] #28 closed, assigned to nobody

[2014-03-31 04:42] #65 closed, assigned to sillykelvin

[2014-10-03 21:36] shackra opened #91 "op/get-org-file-options: Symbol's function definition is void: nil"
I'm trying to migrate my static blog generated with Pelican to org-page. I have this setup:

[code]

Here is my blog's repository on Bitbucket: https://bitbucket.org/shackra/shackra.bitbucket.org/src

This gets printed in the *Message* buffer when running the `op/do-publication` command:

[code]

And I'm not able to generate my blog.

Am I breaking something? Does org-page expects to find certain

[2014-10-16 01:40] #91 closed, assigned to nobody

[2014-11-03 01:18] kit1980 opened #92 "Date and tags after post title, not in footer"
In my custom theme I copied code for date and tags from footer.mustache to post.mustache (I've also tried header and nav template just to test) - and the code works in footer.mustache only. I think it's because {{date}} and {{tag-links}} are empty for other templates.

Is it possible to make custom theme to show date and tags after post title, not it footer?

[2014-12-03 18:50] tonghuix opened #93 "ht 1.5 is a orphan package in Emacs 24.4. so that cannot install org-page by package"
as title mentioned.

[2014-12-04 18:12] xuchunyang opened #94 "How to produce a valid email address?"
In `org-mode` source file, I have:

[code]

and the output html becomes

[code]

so my question is how to automatically get the proper one? i.e.

[code]

[2014-12-04 23:37] xuchunyang opened #95 "Decrease the spacing between lines of code block?"
I'm using `org-page`'s default theme (since the remaining two theme is not useable on some level), and I find the spacing between lines of code block is much bigger than usual, what do you think about this? Is a bigger line spacing good for reading in browser?

[2014-12-21 00:40] kat-co opened #96 "Template parsing is cached."
My workflow is:
1. Publish site.
2. Edit template.
3. Goto 1.

But it looks as if the templates are cached in ht (i.e. op/get-cache-create). So my changes aren't reflected unless I use a new emacs process every time.

[2014-12-27 09:36] #94 closed, assigned to nobody

[2014-12-29 16:29] rlvesco7 opened #97 "Latex?"
Is it possible to use mathjax with org-page? It doesn't seem to process inline latex $$\frac{4}{5}$$.

If I export a page using org-html export function it works fine.

This would be a very useful feature if it doesn't already exist.

Thanks for the great work.

[2014-12-30 15:39] #96 closed, assigned to nobody

[2015-01-04 18:20] shackra opened #98 "op/render-content: Invalid function: (org-html-fontify-code (code lang) (when code (org-html-encode-plain-text code)))"
I'm trying to change the CSS used on my blog for my own with Bootstrap. I wanted to generate my blog to a directory to see the changes in my web browser, however, when I tried to generate the pages I got this error:

[code]

So far, I just have modified the `header.mustache` file removing all `link` tags and putting my own:

[code]

org-page is a great project, hope it gets some more love!

[2015-01-04 18:25] shackra commented on #98
adding back `<link rel="stylesheet" href="/media/css/prettify.css" type="text/css">` doesn't solve this issue (just wanted to note that)

[2015-01-04 18:34] shackra commented on #92
a very generic solution, so any sort of variables can be use on any custom/standard mustache template.

I wonder if it is possible to define any variable in org as `#+CUSTOM_VARIABLE`, I could use certain custom variables to modify the template and/or add extra information to the generated posts, i.e.: setting a variable as `#+COVER_IMG: https://i.imgur.com/example.png` and then using `{{cover_img

[2015-01-05 03:05] kelvinh commented on #98
Could you please check which version of org-mode did you use? `org-html-fontify-code` is a function from org-mode, it is provided in org-mode v8.0 and later, I am not sure it is provided in previous version or not.

[2015-01-05 03:10] kelvinh commented on #92
Yeah, I will do some evaluations on this, thanks for the advice!

[2015-01-05 04:40] shackra commented on #98
Sure! I'm using `Org-mode version 8.2.10 (8.2.10-29-g89a0ac-elpa @ /home/jorge/.emacs.d/elpa/org-20141229/)`

[2015-01-05 05:06] kelvinh commented on #98
That's weird, could you please retry the generation after evaluating `(require 'ox-html)`? Seems the module contains that function is not loaded.

[2015-01-05 21:14] shackra commented on #98
Well, didn't work:

[code]

Kelvin Hu writes:

--
Pax et bonum.
Jorge Araya Navarro.
ES: Diseñador Publicitario, Programador Python y colaborador en Parabola GNU/Linux-libre
EN: Ads Designer, Python programmer and contributor Parabola GNU/Linux-libre
EO: Anonco grafikisto, Pitino programalingvo programisto kai kontribuanto en Parabola GNU/Linux-libre
https://es.gravatar.com/shackra

[2015-01-06 11:54] kelvinh commented on #98
OK, please post your Emacs' version, org version, and your Emacs' configuration here, I will try to reproduce this issue.

[2015-01-06 17:24] shackra commented on #98
Good:

Emacs version: GNU Emacs 24.4.1 (x86_64-unknown-linux-gnu, GTK+ Version 3.14.3) of 2014-10-21 on
bitzer.hoetzel.info

org-version: Org-mode version 8.2.10 (8.2.10-29-g89a0ac-elpa @ /home/jorge/.emacs.d/elpa/org-20141229/)

Emacs configuration: here! just clone my repo https://github.com/shackra/.emacs.d all the packages I have
installed here will be installed automatically if you don't have

[2015-01-12 20:57] cmacrae opened #99 "Application of themes not working/not documented"
Really wanting to move over to `org-page`, but I can't get themes to work.
Default install from `MELPA` doesn't work using the basic config:
[code]
However, I can see the themes directory there: `~/.emacs.d/elpa/org-page-20141226.558/themes`
Setting `(setq op/theme 'mdo)` doesn't seem to work, and setting both that and `(setq op/theme-root-directory "~/path/2/themes")` (where the themes directory

[2015-01-14 02:26] shackra commented on #98
anything new on this?

[2015-01-14 17:23] kelvinh commented on #98
I tried with your Emacs configuration, only modified the following code block in you **emacs-init.org**:

        (setf op/repository-directory "~/devel/kelvinh.github.com" ;;<== modified to point it to my own repo
              op/site-domain "http://elblog.deshackra.com/"
              op/site-main-title "El blog de Shackra"
              op/site-sub-title "«No seas tan abierto de mente o tu cer

[2015-01-14 17:27] kelvinh commented on #99
Did you mean that the css files are not in folder "/path/2/output/media/css"? Org-page does not copy the theme folder, but copies the sub folders and files under it.

[2015-01-14 20:05] cmacrae commented on #99
Hmm, no, the files are there as expected:
[code]
But, when I load the page (index.html) in a browser - be that from the filesystem on my local machine, or hosted by nginx - the page doesn't seem to be using any CSS.

[2015-01-14 22:46] shackra commented on #98
Yes, I have changed few things but nothing related to those two lines. I'll try that.

under this circumstances, how could I choose other theme than the default one?

[2015-01-15 12:49] kelvinh commented on #99
In the generated html files, the css files are referenced with absolute paths as following:

    <link rel="stylesheet" href="/media/css/main.css" type="text/css">
    <link rel="stylesheet" href="/media/css/prettify.css" type="text/css">

So, please check if you put the generated files at the root level of nginx, otherwise they cannot be found.

[2015-01-15 12:53] kelvinh commented on #98
No, I commented out the two lines just because the theme and theme directory do not exist on my machine, you can use the customized theme directory and themes if they do exist there.

[2015-01-15 19:48] shackra commented on #98
Ok, that's weird because it is the actual configuration. I'll try again and be back to you soon!

[2015-01-15 20:06] shackra commented on #98
Well, the issue is gone! and I didn't change anything in my configuration!

I must say, however, that I'm actually using a new laptop and that org-page was fresh-installed automatically by my configuration, this may have some influence over this bug.

[2015-01-15 20:06] #98 closed

[2015-01-16 21:09] cmacrae commented on #99
Sorry to bother you with my nonsense @kelvinh! I was just testing wrong (being lazy). I set up a fresh nginx node to try it out, and it works great.

Thanks so much for your time :)

[2015-01-16 21:09] #99 closed

[2015-01-19 05:03] kelvinh commented on #99
Glad to see that your problem is solved. :-)

[2015-01-19 05:04] kelvinh commented on #98
Glad to see that it is solved finally. :-)

[2015-01-20 04:16] thingywhat opened #101 "Hardcoded date at bottom of each page"
Heyas!

I notice that at the bottom of pages generated with org-page all say "`Copyright © 2012 - 2014`"... Like so:
![screenshot from 2015-01-19 19 57 42](https://cloud.githubusercontent.com/assets/6616922/5812096/6e38e6f4-a01f-11e4-85b6-6176a17d40e6.png)

I also notice you have a TODO near [the line that specifies this](https://github.com/kelvinh/org-page/blob/8fbfa34a61ea6a8e2c9a0ab6188c7da1b45

[2015-01-21 16:15] kelvinh commented on #101
Thanks for your great pull request, now the problem seems to be solved, and also thanks for the great avatar integration!

[2015-01-21 18:33] thingywhat commented on #101
Neato, thanks..!

I was actually going to send the avatar stuff in another Pull Request after this one to seperate the issues, though my implementation appears to have snuck into my existing pull request. (Whoops.) Glad you like it though..!

Anyway, this issue seems solved to me, so... Closing!

[2015-01-21 18:33] #101 closed

[2015-01-23 01:45] Trevoke opened #104 "When suggesting URI, replace spaces with dashes"
If my blog title is `Switching to org-page` then the suggested URI should be `/blog/%y/%m/%d/Switching-to-org-page`.

[2015-01-24 11:33] kelvinh commented on #104
Yeah, you could use `#+URI` to customize the uri:

[code]

[2015-01-24 11:52] kelvinh commented on #104
And, I recall that even there is no `#+URI` customization, it should be something like you suggested, so what is the generated uri for you currently?

[2015-01-24 13:29] Trevoke commented on #104
With `M-x op/new-post` when I write the title "this is my new post", here is what gets suggested.

![screen shot 2015-01-24 at 8 28 02 am](https://cloud.githubusercontent.com/assets/67913/5887518/02365ae0-a3a3-11e4-929d-daacf718a043.png)

[2015-01-25 16:04] kelvinh commented on #104
Oh, I see, I thought you were talking about the generation of html files, but seems it's about the new post creation, now it has been fixed.

[2015-01-27 09:32] #104 closed

[2015-01-28 13:11] Trevoke opened #105 ""ASCII" ?"
I want to show how an org-mode table looks before it is transformed into HTML. How can I write the org file in such a way that org-page understands I want this to look just that way?

[2015-01-28 16:30] kelvinh commented on #105
Sorry, but could you please be more specific?

[2015-01-28 16:38] Trevoke commented on #105
Sure.

If I create a table in the org file for the blog entry, it will be converted to HTML. And that's great. But sometimes I specifically want to SHOW how it looks in plain-text:

[code]

How can I get it to look like that?

[2015-01-28 23:26] Trevoke commented on #105
I figured it out.

I just have to wrap it with a

[code]

[2015-01-28 23:26] #105 closed

[2015-01-29 07:14] kelvinh commented on #105
Yeah, for org mode syntax, please refer to http://orgmode.org/org.html.

[2015-01-29 13:27] Trevoke commented on #105
Yes, thanks :) The main thin

I think it would be helpful to know how various elements of org-mode get
converted through org-page!
On Thu Jan 29 2015 at 2:14:42 AM Kelvin Hu <notifications@github.com> wrote:

[2015-02-21 10:47] kuangdash opened #107 "When it comes to “#+email: xxxx@xx.com”, the '@' and ‘.’ can't be converted correctly"
Just RT

[2015-02-28 12:51] kelvinh commented on #107
Please refer to https://github.com/kelvinh/org-page/issues/94

[2015-03-01 17:46] hrehfeld opened #109 "disable about"
I really don't need the about page, is there a way to disable it?

Removing it from 		  op/category-config-alist didn't help.

[2015-03-04 05:05] kelvinh commented on #109
Sorry, currently there is no way to disable about page.

[2015-03-05 19:05] shackra commented on #89
in mdo template, there is a file called `template.html`, what's it for?

[2015-03-05 21:48] kuangdash commented on #107
Oh, OK, Thank you!

[2015-03-05 21:48] #107 closed

[2015-03-10 02:24] kelvinh commented on #89
@shackra Oh, it's an obsolete template, which is used by early version org-page.

[2015-03-11 22:58] shackra opened #110 "better exporting of #+BEGIN_SOURCE blocks"
org-mode makes silly things for rendering code block when exporting to HTML. The thing is I made some questions at emacs stackexchange, and a very loving and kind developer pasted his code, all necesary elisp code, to export such code blocks as `<pre><code>` tags and compatible with highlight.js

[Here is his answer with complete code snippets](http://emacs.stackexchange.com/a/9839/690).

Hence, I

[2015-03-12 12:35] kuangdash commented on #97
Open the file "/path/to/org-page-page/theme/header.mustache"
add the following codes before </head> label:
[code]
May it be done……

[2015-03-13 06:19] kelvinh commented on #110
Thanks for the link. However, org-page does not use org-mode's code block rendering(insert so many ugly tags), instead, org-page will export code blocks in plain text, and then render these blocks with /prettify.js/.

[2015-03-13 19:27] shackra commented on #110
Uh, that wasn't the case for me with org-page until I integrated the code I'm linking

[2015-03-17 11:14] tumashu opened #112 "Don't insert googlecode url in template mdo"
[code]

I find above two line in mdo template, which make site page  very slow in china.... you understand....

[2015-03-17 11:18] tumashu opened #113 "Add document about build a localhost site"
I think we should add document which can tell the user how to build a localhost site, for example:

[code]

[2015-03-17 11:20] tumashu opened #114 "[Suggese] Add a software site template"
I want use org-page to generate chinese-pyim website, but I don't like blog style.... Is it possible add
a site template which more like a software webpage?

[2015-03-17 11:24] tumashu opened #115 "About publication message"
when I publish to /var/www,  op/do-publication say:
[code]
This info seemed  misunderstand.....

[2015-03-17 15:32] kelvinh commented on #110
Could you please paste a link here to the generated html source by that code snippet?

[2015-03-17 15:35] kelvinh commented on #112
Yeah, it's because the fucking GFW, however, if we make local copies of the script files, we will have to update them manually...

Do you have any better idea?

[2015-03-17 15:45] kelvinh commented on #114
Yeah, the page structure/style can be totally customized, however, I am not a html/css guy, so hope someone else could offer some help...

[2015-03-17 16:16] kelvinh commented on #115
Yeah, it's a bug, now fixed.

[2015-03-17 16:19] kelvinh commented on #113
It's in README:

    (setq op/site-domain "http://your.personal.site.com/")

[2015-03-17 19:20] shackra commented on #110
sure! I have a begginers tutorial about Emacs, I have a lot of code blocks on it, [check it](http://elblog.deshackra.com/blog/2014/10/14/gnu-emacs-primeros-pasos-i/) if you want.

You can also check the author of those code snippets blog, [here](http://blog.binchen.org/)

[2015-03-17 23:51] tumashu commented on #112
what about use a fork in github

[2015-03-18 00:07] tumashu commented on #114
Maybe we should add a README which can tell the user how to use himself theme.

[2015-03-18 00:08] tumashu commented on #112
fork prettify,js to github?

[2015-03-18 00:11] tumashu opened #116 "About index.html"
I want  "/default.org" to "/index.html" when build with org-page, How to setup?

[2015-03-18 00:13] tumashu commented on #113
but, when I set

[code]

The 'blog' and 'about' url in result page seemd broken.

[2015-03-18 14:40] kuangdash commented on #114
@kelvinh I have applied org-page to “emacs-china.org”, and customized a theme called 'emacs_love'.
(you can see it by visiting emacs-china.org)

But since my 'git diff' and 'git patch' got some problem recently, is it convenient for you to extract the theme for a new theme of org-page? And I disabled `op/verify-comments` to support both disqus and duoshuo, hoping you can apply it to org-page……

[2015-03-18 23:09] tumashu commented on #114
@kuangdash   Maybe we should build a emacs package which is called  `org-page-theme-lovemacs'

I think that org-page should only include a basic theme....

[2015-03-18 23:15] tumashu opened #117 "[need help] org-page can't export org file in subdir"
I write org file "studys/mynote.org",  When I run:

[code]

I can't find "studys" and "studys/mynote.html"

[2015-03-19 05:17] shackra commented on #117
you have the rights to write/create files in `/var/www`?

[2015-03-19 05:19] kelvinh commented on #112
It's OK, but seems still need manual effort to update...

[2015-03-19 05:21] kelvinh commented on #116
Sorry, there is no such support, why would you prefer "default.org" to "index.org"?

[2015-03-19 05:32] kelvinh commented on #110
I viewed the source, the code below is generated by org-page:

    <pre class="src src-C++">
    //...
    </pre>

the code below is generated by the snippet you mentioned:

    <pre><code class="lang-emacs">
    ;; ...
    </code></pre>

Seems the only difference is the extra `<code>` tag?

BTW, your site's theme is really nice. :-)

[2015-03-19 05:33] kelvinh commented on #113
That must be a bug, I will check later.

[2015-03-19 05:46] kelvinh commented on #114
@kuangdash Thanks for your effort, I really love the **table-of-contents** design.

however:

1. the copyright of this theme belongs to you, it's not proper for me to extract it and add it to org-page
2. as @tumashu said, it would be a great idea for us to create another package called `org-page-themes` to collect various themes, org-page will only include a basic theme, I will create another repo

[2015-03-19 06:59] shackra commented on #110
Well, yeah, that and some matching names since `highlight.js` may not have
highlighters for some languages supported in Emacs through major modes... but
I'm not sure.

haha, Thank you! I'm learning web design!

--
Pax et bonum.
Jorge Araya Navarro.
ES: Diseñador Publicitario, Programador Python y colaborador en Parabola
GNU/Linux-libre
EN: Ads Designer, Python programmer and contributor Parabola G

[2015-03-19 14:49] tumashu commented on #117
I rebuild my site git repo,  it's work... Thanks!

[2015-03-19 14:49] #117 closed

[2015-03-19 14:53] tumashu commented on #112
Yes, but it seemed easier and cleaner than putting prettify.js to org-page source.

Maybe we can contact the prettify.js's author, and  "huyou" he  to github, for googlecode will die.

[2015-03-19 14:56] tumashu commented on #116
This is my experment project, like this:  .el --(lentic) -> . org  --(org-page)--> website.

[2015-03-19 14:56] #116 closed

[2015-03-19 14:56] #115 closed

[2015-03-19 15:01] tumashu opened #118 "Can't deal with org file with chinese file name?"
It seem that  org-files with chinese file names can't  export to html.  is it a bug?

[2015-03-19 15:01] tumashu commented on #118
If it is hard to resolve, we should add info to doc...

[2015-03-19 15:09] tumashu commented on #114
Ok, In my opinion we should define how to build a org-page theme package,

let `op/theme-root-directory'  directory list,  like `load-path'?  I don't know.

The theme package names like this?
1.  org-page-themes
2.  org-page-theme-<string>

[2015-03-20 11:07] tumashu opened #119 "How to manager multi website in an emacs session?"
`ox-publish' use `org-publish-project-alist' which can set multi website configure,  How org-page deal with this problem?

I use the below code, but not satify...

[code]

[2015-03-20 23:57] tumashu opened #121 "How to ignore export a directory or a file in source?"
I put my theme to "/theme",  when I build website,  org-page add a nav  "Theme",
Is it possible add a opinion to ignore a dirctory or a file, such as a variable?

[2015-03-21 08:33] kelvinh commented on #121
Please refer to https://github.com/kelvinh/org-page/pull/106, I should have add this to README, but I forgot that...

[2015-03-21 08:54] tumashu commented on #121
Thanks!

[2015-03-21 08:54] #121 closed

[2015-03-21 09:11] tumashu opened #123 "[question] Is template.html auto generated by org-page?"
I'm confused by template.html, which seem to  have similar content with *.mustache file,  is it auto generated?  If so, I suggest put it into .gitignore

[2015-03-21 09:23] tumashu commented on #123
If it is auto generated,  we should add some note in this file head.   for example: Auto generated by org-page, Don't edit manual ....

[2015-03-21 16:30] kelvinh commented on #123
No, this file is used by old version org-page, now it has been deleted.

[2015-03-21 16:35] kelvinh commented on #110
Currently org-page uses **prettify.js** to render code blocks, and the `<pre>...</pre>` tag pair serves well for that, sorry that if there is no obvious benefit of the extra `<code>...</code>` tag pair, I prefer to no change.

However, you can keep that code snippet for your own generation. :-)

[2015-03-21 16:44] kelvinh commented on #112
Ha, I found a great CDN which hosts **prettify.js**: http://cdnjs.com/libraries/prettify
I tried, it loads pretty fast, could you please help test ?

I will change the CDN if it is good for you, then it would be good for all people in the fucking China.

[2015-03-21 16:48] kelvinh commented on #113
I tried, seems no problems here, could you paste the broken sample here?

[2015-03-21 16:51] kelvinh commented on #114
No, I will create another repo for org-page themes, and all great themes will be merged there, the theme can be easily used by set an option:

    (setq a-theme-select-variable 'a-theme-from-the-theme-package)

This is the basic idea currently I come up, if you have better ideas, please let me know.

[2015-03-21 17:08] kelvinh commented on #118
No, I debugged, it is a bug in *op-git.el*, however it is too late now, I will solve this bug tomorrow...
I always named my org file with English, so I never found this bug...

[2015-03-21 17:10] kelvinh commented on #119
No, org-page is just a static blog generator, multi website management is not the main task, so I am afraid you have to do it yourself...

[2015-03-21 17:18] shackra commented on #110
There is one benefit: when the code is more width than the area where it is wrapped, a scroll bar is offered by the web browsers. This is critical for responsive design!

El 21 de marzo de 2015 10:35:53 CST, Kelvin Hu <notifications@github.com> escribió:

--
Enviado desde mi teléfono con K-9 Mail.

[2015-03-22 03:17] tumashu commented on #119
Is is possible set all above setup with a variable, like `org-publish-project-alist' ,which will make multi website setting more easier.

[2015-03-22 06:44] kelvinh commented on #118
After some research, this can be solved by set the `core.quotepath` to `false`:

    git config --global core.quotepath false

[2015-03-22 07:22] tumashu commented on #112
Fast too, but my college's Lan is fast.....

At moment, I custom my own theme template and don't use any js.  for example:

    http://tumashu.github.com

[2015-03-22 07:31] tumashu commented on #114
Just try, I suggest put this feature to new branch before it actually works well. by the way,

"Don't forget the users who manager their own theme in  source dir"

[2015-03-22 14:19] kuangdash commented on #114
@tumashu appreciate your opinion，theme should be managered in the source branch

[2015-03-22 14:40] kelvinh commented on #112
OK, I will change to that CDN.

You site is designed very well. :-)

[2015-03-23 02:50] tumashu opened #125 "About fallback theme feature"
when a theme doesn't include *about.mustache file , org-page send error,   I think this is not a good
way,   When org-page can't find  "about.mustache" in used theme dir, it should use "about.mustache"
in fallback theme instead sending error.

This feature can let custom theme easier, for users don't need to copy all template and resource files.

[2015-03-23 02:56] #123 closed

[2015-03-23 02:57] tumashu commented on #118
This tips sould be included into doc.

[2015-03-23 02:57] #118 closed

[2015-03-23 02:58] tumashu commented on #113
Maybe it's my www server's problem.

[2015-03-23 02:58] #113 closed

[2015-03-23 02:58] #112 closed

[2015-03-23 03:00] tumashu commented on #119
This seemd offtopic, I will create a new issue to discuss.

[2015-03-23 03:00] #119 closed

[2015-03-23 03:14] tumashu opened #126 "Closing issues via commit messages"
I find that many issues need close.  suggest see:

https://help.github.com/articles/closing-issues-via-commit-messages/

[2015-03-23 03:36] #114 closed

[2015-03-23 03:50] tumashu opened #127 "Discuss org-page multi config method"
At moment， org-page only use emacs global variable to configure, which is a simple and easy way,
but in my opinion , it has some limit when use should manager multi site.  I want to add feature which
let org-page read configure from others: for example: plist,  xml-file,  json-file and so on,  the below is

my thought is like this:

[code]

What about this approach?

[2015-03-23 15:18] kelvinh commented on #125
No, users are on their own responsibility for a complete theme, and also, different themes have different styles, the *about page* of one theme may **NOT** be able to apply to another theme.

[2015-03-23 15:20] heikkil opened #128 "emacs 25 needed?"
I started my site in github a month ago. At that point I could not run op/new-repository with emacs 24.4. I upgraded to v.25 and publishing started working.

Might be good idea to test the current code base in both emacs versions 24 and 25 and document the dependency in the documentation.

[2015-03-23 15:33] kelvinh commented on #127
In my opinion, the potential users of org-page are all Emacs users, so there is no need for other configuration type like *xml*, *json*, etc, just Elisp configuration should be enough.

And, in a previous issue [#119] about "multi site management", I have mentioned that:

I am trying to keep org-page simple, and focusing on blog generation features, like *tag*, *rss* etc.

However, you can still i

[2015-03-23 15:38] kelvinh commented on #128
I am using Emacs 24.4, and I can run `op/new-repository` with no issue, could you please paste your error message here?

[2015-03-23 15:42] kelvinh commented on #39
TOC implemented, closing.

[2015-03-23 15:42] #39 closed

[2015-03-23 15:43] kelvinh commented on #63
This issue has been open for a long time, closing...

[2015-03-23 15:43] #63 closed

[2015-03-23 15:44] #66 closed

[2015-03-23 15:47] #93 closed

[2015-03-23 16:10] kelvinh commented on #97
@kuangdash Thanks for your reminder, now implemented in `mdo` theme.

@rlvesco7 You can use `mdo` theme for Tex/LaTeX rendering now, but if you want some customization, you may need to create your own theme from `mdo`, and customize variables according to MathJax doc: http://docs.mathjax.org/en/latest/options/tex2jax.html#configure-tex2jax

[2015-03-23 16:12] #97 closed

[2015-03-23 16:14] kelvinh commented on #126
Thanks for the great tip. :-)

[2015-03-23 16:14] #126 closed

[2015-03-23 23:07] tumashu commented on #125
many users just want use default template with small change, for example, different css,
if had this feature, user only need manager a file.

my custom theme only change 3 file of default theme, in other words, i have to manual merge
other file to let template work well with newer org-page, it,s feel bad!

[2015-03-23 23:16] tumashu commented on #125
when we have many theme create by other developer, this feature
can save times, like diff

thi make this feature possible:

    (setq op/theme '(mytheme  mdo))

[2015-03-23 23:23] tumashu commented on #127
json and xml just example,  in my opinion,  we should use
a function to get org-page config opinions instead of direct read many global
variables everywhere, this is my focus.

[2015-03-23 23:24] tumashu commented on #127
exchange with a function or a list, instead of many global variables

[2015-03-24 15:00] kelvinh commented on #125
If some templates are same for two theme, you could just copy them from one to another, they will be independent of each other.

If you make something like `(setq op/theme '(theme1 theme2 theme3))`, there will be two issues:

1. if `about` template is not presented in theme1, you have to confirm whether it is presented in theme2 or theme3
2. if theme3 is deleted (assume the `about), then there wil

[2015-03-24 15:06] kelvinh commented on #110
Isn't the scroll bar controlled by CSS?

[2015-03-24 15:14] kelvinh commented on #127
global variables are not bad in Emacs, for many other packages, like `helm`, there also do exists many global variables to control behaviors. Besides, org-page adds prefix (as namespace) `op/` before variable names to avoid name conflict.

[2015-03-24 15:21] tumashu commented on #125
[code]
You are right, but If I had 100 themes which only be different in color with "mdo", when you update "mdo", I had to copy 100 times , a depressed thing ...

[code]
put "mdo" to the end of list as fallback, this is not problem.

By the way, I have finish this feature, the diff seem a bit bigger, when I add docstring and check the code, I will send you to review.

[2015-03-24 15:31] tumashu commented on #127
Multi config method not need at moment, when we need this feature, let discuss it again.

[2015-03-24 17:50] shackra commented on #110
If you only use the <pre> tag, no, no scroll bar is shown

El 24 de marzo de 2015 09:06:49 CST, Kelvin Hu <notifications@github.com> escribió:

--
Enviado desde mi teléfono con K-9 Mail.

[2015-03-24 20:28] heikkil commented on #128
Went back to 24.4 and could not reproduce the problem. Sorry. Something definitely was not working at that point but everything seems to be working now.

[2015-03-24 20:28] #128 closed

[2015-03-25 09:24] heikkil opened #129 "Cleaning the generated main index page"
Could you fix two small things in the function op/generate-default-index, please.

- Category names look better capitalised. Line 388 in op-export.el should be:

[code]

- Remove category 'about' from the generated index page

The about page is already linked to from the header and it adds distracting text to the main page. Since there is no standard way in core elisp to filter a value from a list

[2015-03-25 09:53] heikkil opened #130 "Date for all entries in all index pages"
I am trying to make all generated lists of posts look the same. There are main index, category index and tag index. I can modify the mustache templates for the first two to get them look identical (change header levels, add date and decorations), but there is no way of adding a date into the tag index without touching code.

Could you please add post-date to the attribute list in function op/updat

[2015-03-25 10:16] heikkil commented on #95
My two cents worth:

In my opinion in the pre/code block both font size and spacing are too big.

Without changing the body text size (using sans serif font), these settings work for me:
[code]

[2015-03-28 15:32] #127 closed

[2015-03-28 15:51] kelvinh commented on #130
Sorry for late response due to busy work previous two days, I have added the date and tested, it works now. And next time, you could just send me a pull request for this. :-)

[2015-03-28 16:30] kelvinh commented on #129
Yeah, now the two issues have been fixed, thanks!

[2015-03-29 07:02] #129 closed

[2015-03-29 07:10] heikkil commented on #130
Thanks for fixing these. I can confirm they work. I'll use the pull-request way in the future once I am more confident that I understand the codebase.

[2015-03-29 07:10] #130 closed

[2015-03-29 07:17] heikkil opened #132 "clearing cache not refreshing page layout"
It took me some time to confirm that the previous two fixes ( #129, #130 ) work. Partly because of the ongoing GitHub DDoS attack, but also because command `(setq op/item-cache nil)` did not clear everything. There was no  change in the generated  index and tag pages until I restarted emacs.

I find it hard to believe that the culprit is my emacs configuration. What could be causing this?

[2015-03-29 16:37] passchaos opened #133 "org-page don't produce html file"
执行op/do-publication之后，source分支中的blog目录不见了，却在master分支中blog里面存放着我的org文件，没有生成html文件

[2015-03-30 15:34] kelvinh commented on #132
I tried on my box, seems there is no issue, if the cache is cleared, then the templates will be loaded from files, so you will see following message in \*Message\* buffer:

You may confirm this first, and then I think you may need to debug the rendering functions like `op/render-header` to see what happened...

[2015-03-30 15:36] kelvinh commented on #132
Please refer to http://www.gnu.org/software/emacs/manual/html_node/elisp/Debugging.html if you really need to debug to solve this issue...

[2015-03-30 15:41] kelvinh commented on #133
Could you please provide more detailed info ?

1. How is your repo looks like, include the branches ?
2. How is the `op/do-publication` executed, what parameters did you passed in ?
3. Have those .org files occurred on `master` branch committed ?

[2015-03-30 15:52] passchaos commented on #133
使用流程：
1、使用op/new-repository创建一个工作目录
2、使用op/new-post创建了一个org文件
3、使用op/do-publication生成html文件，除了publish-to-a-directory，其余都是y
然后就发现source分支blog目录和master分支blog目录下都没有文件

[2015-03-30 16:05] passchaos commented on #133
我发现原因了，创建org文件之后我没有commit，能不能让op/do-publication自动commit？

[2015-03-30 16:35] kelvinh commented on #133
Sorry, as org-page doesn't have the knowledge that which file should be committed and which should not (maybe a post is just a draft currently so it should be committed later after finished), so you should commit those posts manually, as you can decide which should commit, which should not.

[2015-03-31 04:24] #133 closed

[2015-03-31 04:45] passchaos opened #134 "How can I replace "static site generator" by my own statement？"
怎么生成如“======> 重剑无锋，大巧不工。”这样的形式？可以再配置文件里边设置吗？

[2015-03-31 05:35] kelvinh commented on #134
Please refer to **quick-guild.org** in *doc* folder.

[2015-03-31 06:59] #134 closed

[2015-04-13 04:21] dreamer-yzy opened #135 "为什么生成后的没有table of content？"

[2015-04-13 05:30] dreamer-yzy opened #136 "invalid function org-with-silent-modifications 报这个错，请问是什么原因？"

[2015-04-13 15:04] kuangdash commented on #135
注意 #+option 选项 的 toc 选项

[2015-04-13 15:12] kuangdash opened #137 "It is a bad design that org-page use a git branch to manage "source", isn't it ?"
After stuck with it for so many times, I have to conclude in a conclusion that there is no need to manage the "source" files in a "git branch" way, sincerely speaking.

[2015-04-13 15:18] kuangdash commented on #137
Switch between the git branchs is terrible, and the git branch isn't invented for this purpose.

Anyway, I will try to remove the feature with the hope of being merged.

[2015-04-13 17:44] kuangdash commented on #137
Ok, I understand it. Maybe I should write a tutorial about 'org-page', thanks for the great project!

[2015-04-13 17:44] #137 closed

[2015-04-14 05:20] kelvinh commented on #135
Yeah, as @kuangdash said, change `toc: nil` to `toc: t` in `#+OPTION` to generate toc.

[2015-04-14 05:23] kelvinh commented on #136
Please provide more detailed info, like Emacs/org-mode version, and also the call stack when the error happens.

[2015-04-14 06:18] ghost opened #138 "org-page 发布不了org文件"
我在source分支建立了一个org文件，然后git add .  && git commit -m "add"，然后在emacs里，M-x op/do-publish 发布不了。
fail to commit changes on current branch of respository xxxxx。

[2015-04-14 06:19] postgresqldba commented on #135
thanks all.

[2015-04-14 06:19] postgresqldba commented on #135
thanks @kuangdash  @kelvinh

[2015-04-14 06:23] postgresqldba commented on #138
OS: ubuntu 14.04
Emacs : 24
org-mode : 8.x

[2015-04-16 09:59] kuangdash commented on #138
可以按以下地址写的测试方法，测试一下：

http://emacs-china.org/blog/2015/04/15/org-page%E7%9A%84%E9%85%8D%E7%BD%AE%E4%B8%8E%E4%BD%BF%E7%94%A8/

[2015-04-16 17:01] postgresqldba commented on #138
非常多谢你 @kuangdash  , 我的第一篇blog终于成功了.折腾了这么久.渐渐熟悉了起来.这个是我的blog, -----> http://postgresqldba.github.io/  thanks very much .

[2015-04-17 08:12] emacsist commented on #138
不过又遇到问题，在ubuntu下，只能导出英文文件名的org，不能导出含有中文文件名的数据。在mac上，都可以，这是什么情况？locale的问题？

[2015-04-17 08:21] emacsist opened #139 "cannot pusblish the file which file name contains chinese ."
As title said. I can open and write chinese in emacs, but when I use org-page to generate static website, the file name which contains chinese cannot be published.What's problem?In my Mac Book, all thing is OK.

Env:
OS: Ubuntu 14.04.1
Emacs: 24.x
Org-mode: 8.x
locale: en_US.UTF-8

[2015-04-17 11:30] kelvinh commented on #139
Please refer to #118, and before you submit a new issue, please search the issue list first, maybe others also meet the same problem and there is already an solution there.

[2015-04-17 11:30] kelvinh commented on #138
please refer to #118.

[2015-04-17 12:21] #135 closed

[2015-04-17 12:21] #125 closed

[2015-04-17 16:58] shakthimaan opened #140 "Wordpress-like blog pages"
Hi,

My current blog is at http://www.shakthimaan.com/news.html.

It has a Wordpress-like list of blog posts (ten in a page, for example) with previous posts linked to "OLDER POSTS" and "NEWER". Is there a way to achieve a similar output with org-page? I really would like to move from markdown to org files for my blog posts.

Thanks!

[2015-04-18 11:38] kelvinh commented on #140
Sorry, org-page does not support pagination, so `older posts`/`newer posts` is not supported, however, if no default index provided, org-page will generate a default index with all posts on it.

[2015-04-28 12:30] #139 closed

[2015-04-28 12:31] #138 closed

[2015-04-28 12:32] #140 closed

[2015-04-30 11:38] trentfisher commented on #136
Well, I got this exact same error, here are my details:

Emacs: This is GNU Emacs 24.3.1 (i686-redhat-linux-gnu, GTK+ Version 3.10.9) of 2014-09-30 on buildhw-01.phx2.fedoraproject.org

Org-mode version 8.2.10 (8.2.10-37-gc000e8-elpa @ /home/trent/.emacs.d/elpa/org-20150427/)

I installed from Melpa per the instructions (which got me a newer org-mode as well)

I used op/new-repository, and then op

[2015-05-04 08:27] kelvinh commented on #136
according to the stack trace, it must be an issue in org-mode, I googled, find this: http://tonyballantyne.com/tech/elpa-org-mode-and-invalid-function-org-with-silent-modifications/, please have a try to see if it solves your issue.

[2015-05-07 09:29] nocLyt opened #142 "Package `mustache-0.22" is unavailable"
一开始是 ht is unavailable 。

我去设置了 melpa 源 。

现在是出现 Package `mustache-0.22" is unavailable 这个错误

[2015-05-07 09:45] standino commented on #142
谁能在国内建一个emacs的源啊？

[2015-05-08 05:00] kelvinh commented on #142
However, mustache is in melpa: http://melpa.org/#/mustache. Could you please use `package-list-packages` command to see if mustache is in the list?

[2015-05-08 08:31] nocLyt commented on #142
@kelvinh  Sorry, I can't see mustache in the list.
But I have installed mustache from elpa.

![image](https://cloud.githubusercontent.com/assets/3166027/7532915/f79bee1c-f59e-11e4-884e-550294f734ec.png)

I think the version isn't right.
￼

![image](https://cloud.githubusercontent.com/assets/3166027/7532953/6333f296-f59f-11e4-8ff6-a1a08c66302a.png)

[2015-05-12 04:52] kelvinh commented on #142
`mustache` and `mustache-mode` are two different packages. org-page depends on `mustache` but not `mustache-mode`.

[2015-05-12 05:02] kelvinh commented on #142
Use `package-refresh-contents` to refresh the list, and also, check if you have the following configuration in your Emacs configuration file:

[code]

[2015-05-13 05:53] noctuid opened #143 "Site Preview"
Is there some way to preview the site before committing/pushing? It would be nice to see what the different themes look like as well as how the posts look when styled before publishing.

[2015-05-15 08:39] kelvinh commented on #143
Sorry, no preview inside org-page, I always publish the site into nginx to preview it.

[2015-05-31 23:14] arademaker opened #144 "publications"
Any idea about how to handle publications? Anything that could produce a list of papers from a bibtex file?

[2015-06-01 12:00] kelvinh commented on #144
Any detailed description?

[2015-07-05 17:55] oubl23 opened #145 "报错缺少ht"
org-page.el 里面的(require 'ht)是什么

[2015-07-05 18:25] oubl23 commented on #145
不好意思我没看到依赖关系那里

[2015-07-05 18:25] #145 closed

[2015-08-04 04:19] shackra opened #147 "rss for each tag"
I think generating a RSS feed for each tag is a good idea for blogs that talks about many different topics, in my blog for instance I talk a lot of Catholicism but I also include things like Free Software and Emacs in my repertoire. If some people are interested in my blog posts about emacs but don't really want to know anything about Catholicism, they should be able to subscribe to the emacs tag!

[2015-08-06 05:34] kelvinh commented on #147
That's a good idea, but this may lead to maintain many RSS feed files, it may be not easy to display all of them on the navigation bar.

[2015-08-06 16:28] shackra commented on #147
Well, you don't need that, is just a matter of setting the RSS feed for each tag in their respective tag page!

El miércoles 05 de agosto del 2015 a las 2335 horas, Kelvin Hu escribió:

--
Pax et bonum.
 Jorge Araya Navarro.
 ES: Diseñador Publicitario, Programador Python y colaborador en Parabola GNU/Linux-libre
 EN: Ads Designer, Python programmer and contributor in Parabola GNU/Linux-libre
 EO:

[2015-08-07 05:26] kelvinh commented on #147
Yeah, that makes sense, thank you, I will try to implement this when I have time.

[2015-08-07 18:21] shackra commented on #147
Yay! Thanks!

El jueves 06 de agosto del 2015 a las 2326 horas, Kelvin Hu escribió:

--
Pax et bonum.
 Jorge Araya Navarro.
 ES: Diseñador Publicitario, Programador Python y colaborador en Parabola GNU/Linux-libre
 EN: Ads Designer, Python programmer and contributor in Parabola GNU/Linux-libre
 EO: Anonco grafikisto, Pitino programalingvo programisto kai kontribuanto en Parabola GNU/Linux-libre
ht

[2015-08-15 16:30] rudolfochrist commented on #143
I use this function for previewing new posts:

[code]

Then I serve the files with [http-server](https://www.npmjs.com/package/http-server) locally.

[2015-08-18 13:09] kelvinh commented on #147
Implemented.

[2015-08-18 16:31] shackra commented on #147
YES!

El martes 18 de agosto del 2015 a las 0709 horas, Kelvin Hu escribió:

--
Pax et bonum.
 Jorge Araya Navarro.
 ES: Diseñador Publicitario, Programador Python y colaborador en Parabola GNU/Linux-libre
 EN: Ads Designer, Python programmer and contributor in Parabola GNU/Linux-libre
 EO: Anonco grafikisto, Pitino programalingvo programisto kai kontribuanto en Parabola GNU/Linux-libre
https://es

[2015-08-19 02:46] kelvinh commented on #147
Will be available in melpa later, there is delay for melpa to sync the newest change from GitHub.

[2015-08-19 02:48] kelvinh commented on #147
By the way, the feature is disabled by default, you should set the following variable to enable it:

    (setq op/tag-rss t)

[2015-08-19 17:28] shackra commented on #147
Sure, thank you!

[2015-08-19 17:28] #147 closed

[2015-09-07 14:15] CodeFalling commented on #143
[code]
Same with @rudolfochrist,got this idea from [emacs-china](http://emacs-china.org/blog/2015/04/15/org-page%E7%9A%84%E9%85%8D%E7%BD%AE%E4%B8%8E%E4%BD%BF%E7%94%A8/)

[simple-httpd](https://github.com/skeeto/emacs-web-server) required.

[2015-09-08 06:57] rudolfochrist commented on #143
@CodeFalling I really like that EMACS-only solution. Do you think you've got the time to turn this into a pull request? I think many people would profit from it.

[2015-09-08 08:46] CodeFalling commented on #143
@rudolfochrist @kelvinh RR ready,waiting for merging

[2015-09-08 10:38] kelvinh commented on #143
That's really a great solution, thank you, I will verify the PR later.

[2015-09-08 11:56] #144 closed

[2015-09-08 14:19] rudolfochrist commented on #143
Awesome :+1:

[2015-09-08 14:51] noctuid commented on #143
@CodeFalling Thanks! I love the idea to use simple-httpd.

[2015-09-08 14:51] #143 closed

[2015-09-13 16:27] kelvinh commented on #88
Now there is an variable to control this behavior: `op/highlight-render`, thanks to @CodeFalling's contribution!

[2015-09-17 16:30] shuxiao9058 opened #152 "new repository publish occured an error " (wrong-type-argument listp #("About" 0 5 (:parent (#1))))""
The system is OS X 10.10, emacs(v24.5) was installed via brew. Org-mode version is 8.3.1, and the org-page is the latest version(org-page-20150913.1733) from melpa.org.

[code]

This is the backtrace message:
[code]

Maybe this is because of the configuration. Wish your reply.

[2015-09-18 08:04] #152 closed

[2015-09-25 05:08] #136 closed

[2015-09-29 08:42] fxfactorial opened #153 "Add custom index.htmls"
On master:

I thought that just adding a root directory with a index.html that that would be enough to create a separate link, (yes I did add the link to the root index.html.), but it isn't and I get a 404.

What do I need to do to create custom paths/index.htmls? My use case is I have generated code documentation that I want to code on my github pages as well.

[2015-09-30 05:36] kelvinh commented on #153
Sorry that I didn't understand you well, do you want to customize index pages for categories? then you need to copy the original theme `mdo` and customize the template `category-index.mustache`, hope that helps.

[2015-09-30 05:45] fxfactorial commented on #153
I have right now this Top level link called OCamldocs
http://hyegar.com
but it is 404ing right now. When you click on it i want it go to a page with say n number of link, where each link is a sub folder which contains an index.html.

[2015-09-30 05:50] kelvinh commented on #153
http://hyegar.com/OCamlDocs/index.html, the page is OK, seems you need to make the cases right, otherwise the page cannot be found...

for sub folder contains an index.html, you can customize the `URI` option in org file:

    #+URI:         /OCamlDocs/sub1/sub2

[2015-09-30 05:54] fxfactorial commented on #153
Ah! That's where it was, I couldn't find it.

Where do I add that #+URI  ? On source's index.org?

[2015-09-30 06:01] kelvinh commented on #153
Yeah, in your org source file, the `#+URI` option will decide where the generate html goes.

[2015-09-30 06:03] fxfactorial commented on #153
Okay but I mean this is just a collection of html files, they are already generated. Its not like I have a org file to generate these.

[2015-09-30 08:30] kelvinh commented on #153
Oh, that is beyond org-page's ability, I think you can manually commit these html files to master branch, and then write an index.org file contains the links to these pages, and then convert it into an index.html with org-page.

[2015-10-02 10:28] hyphenlee commented on #152
I have the same problem. How did you solve it?

[2015-10-09 18:50] fxfactorial commented on #153
I've been trying this but with little success. Is there really no easy way to do this, how much effort would it take to add this ability.

[2015-11-30 19:03] shelper opened #154 "git-push error using the package on windows"
i dont know if i am the first one experiencing this issue, but i followed the steps strictly  [here](http://codyreichert.github.io/blog/2015/07/05/blogging-with-emacs-and-org-mode/), but could not make it work on windows. system.i have the error below

so i digged into the code a little bit, i found it is because i cannot run shell command `git push origin master:master`, i have an error saying:

[2015-11-30 19:21] shelper commented on #154
under windows, another strange thing is that i could not find the .op-tmp folder in my user folder, moreover, if i manually `mkdir .op-tmp`, after run `op/do-publication`, the folder will be gone(deleted)....

[2015-11-30 23:43] shelper opened #155 "wrong number of argument when publish"
so, its me again,
i switched to a mac computer osx 10.11, emacs 24.5, and run the sam process as shown [here](http://codyreichert.github.io/blog/2015/07/05/blogging-with-emacs-and-org-mode/),
and i got a different error:

Debugger entered--Lisp error: (wrong-number-of-arguments #[(templates) "\212eb\210\306\307\310\306\311#\205\\ \312 \313	!\314=\203X \315
\"\316\317	\"\211	\316\320	\"E\211\

[2015-11-30 23:51] shelper opened #156 "suggestions on .op-tmp folder"
would it be better to put .op-tmp folder in the source or master branch?
and add the folder to .gitignore to avoid unnecessary git operation.
to me, that makes this package much organized and self contained.

[2015-12-01 00:33] shelper commented on #155
well, this is because the local and system org-mode copy conflicts
i have Org-mode version 8.2.10 (release_8.2.10 @ /opt/homebrew-cask/Caskroom/emacs-mac/emacs-24.5-z-mac-5.11/Emacs.app/Contents/Resources/lisp/org/)

and i also installed a copy of org from elpa, which cause the error, deleting elpa copy solves the problem,

however, i still hope there is a way to avoid this case. 'cus the system c

[2015-12-01 00:33] #155 closed

[2015-12-01 01:00] shelper commented on #152
this seems to be caused by  the local and elpa org package confliction, uninstall elpa org solves the problem

[2015-12-01 06:29] hyphenlee commented on #152
I fix this by removing all the .elc file.

[2015-12-01 13:12] shelper commented on #152
You mean the local copy or elpa copy?

[2015-12-01 13:21] hyphenlee commented on #152
I always install package by melpa if it's available, and I fix a lot of weird problem by removing all the .elc in my .emacs.d when I migrate to emacs 25

[2015-12-10 05:44] ccsheller opened #157 "建议不能调用外部命令时，能给出错误提示，比如找不到git"
我装git（windows）时并没有把git放到系统环境变量中，使用的是git自带的shell。
这样emacs找不到git，但是org-page不能给出提示，其执行后，给出Publication finished：************的提示，然后只看到生成了media文件夹。

[2015-12-10 05:57] ccsheller opened #158 "对于新项目，不能得到正确的org文件，并生成对应的html文件"
1. 新建一个git库，建立source分支
2. 配置好org-page
3. 库目录中添加index.org，并git add index.org
4. 执行op/do-publication 分别输入 y n n
5. 只能生成media文件夹，不能得到对应的html
调试了下看到
(setq all-files (op/git-all-files op/repository-directory))
;all-files为空
changed-files为(:update ,all-files :delete nil) 因force-all为t

[2015-12-10 06:07] ccsheller commented on #158
当然all-files只包括提交后的文件也很合理。
但是change-files却包括了曾经提交过，现在又修改且只git add的文件。
这样的文件修改还没提交到库中，但是会被生成新的html。
这点是我大致看了publish-changes all-files的判断，我才用emacs不久，看elisp有难度。

[2015-12-11 09:31] kelvinh commented on #158
changed-files是根据两个commit之间的差距来的，执行的命令如下：

[code]

这个命令会把改动的文件列出来，不管有没有git add。所以建议在执行publish之前，提交你所有期望提交的改动。

[2015-12-11 09:35] kelvinh commented on #157
嗯，这是一个问题，后续我会在执行publish之前加一下判定。

[2015-12-11 09:45] kelvinh commented on #154
The error is not about pushing, org-page failed to change branch, maybe you have files not committed on that branch, commit/stash your changes and try again.

[2015-12-11 09:46] kelvinh commented on #154
*.op-tmp* folder will only be generated during publication, and it will be deleted after publication.

[2015-12-11 09:47] kelvinh commented on #156
That's great idea, may implementation later.

[2015-12-11 09:55] kelvinh commented on #152
yes, I have this problem sometimes, I always delete the entire *elpa* folder and restart emacs to reinstall those packages, and everything goes well again.

[2015-12-12 14:46] ldenman opened #159 "Add LinkedIn link to navigation"
It would be useful to have an link to a linkedin profile in the nav. thoughts?

[2015-12-14 05:30] kelvinh commented on #159
In my opinion, linkedin is not so important that we need a special link in the nav bar, instead, you can add a link on index/about page, especially the about page, on that page you can add various links, to your twitter, facebook, linkedin, etc.

[2015-12-14 06:00] ldenman commented on #159
Cool, that makes sense to me. Cheers!

[2015-12-14 06:00] #159 closed

[2015-12-26 18:20] csantosb opened #160 "No code highlight in phaer theme"
Is it possible to have out of the box code highlighting when using phaer theme ? Something similar to what mdo theme does.

Thanks for this great package, by the way.

[2015-12-26 23:53] ccsheller opened #161 "op/insert-options-template 中取AUTHOR和EMAIL值，是否要做成交互"
我是不喜欢有太多配置，希望拿来就能用的（应该是懒吧）。
比如user-full-name user-mail-address我也没有配。org-page取的是空值和主机名。
- 取这些值是否能做成交互（可能导致交互项太多）
- 或者做成org-page的配置项（可能不符合emacs的习惯，没有复用现有变量）
- 或者调整下项目的readme，对这些变量加以提示。

[2015-12-28 05:15] kelvinh commented on #160
Hmm, need some javascript code to trigger the highlighting, I will add later.

[2016-01-18 15:16] StephaneArguin opened #163 "Need a way to change category name (I18N)"
I'm about to start a personal French blog. I need to be able to change category name to use the French translation. For example, I should use "Blogue" instead of "Blog" in French. And I have a category with an accent in the name.

A suggestion may be to add a ":label" option to op/category-config-alist. If it's not provided, use the default behavior.

[2016-01-22 03:15] kelvinh commented on #163
org-page takes folder names in source branch as categories, so you can just put "Blogue" folder there, and use the following configuration:

[code]

[2016-01-22 14:51] StephaneArguin commented on #163
I tried it, but the "Blog" category seems to be hardcoded somewhere. It's always displayed. If I remove the "blog" folder, the op/do-publication-and-preview-site fails with this error :

`apply: Setting current directory: no such file or directory, ~/org/website/stephanearguin.com/blog/`

I'm working on a fix to add a :label option to op/category-config-alist (if you want, I'll create a PR). In ad

[2016-01-25 04:14] kelvinh commented on #163
Yeah, Hard coded things would always be evil...

[2016-01-25 04:15] #163 closed

[2016-01-27 01:36] fxfactorial opened #165 "Wishlist + bug fixes + clarification"
1) What is the difference between tags and keywords? Looks like the same thing
2) Can you implement or expose more options to control the CSS? At least for code blocks. I'm having to do an extra commit on master each time I want to publish to fix the CSS
3) It doesn't seem to be that case that the RSS feed actually respects tags, I want to expose my RSS feed to an aggregator but only want the codi

[2016-01-29 16:00] Yihulee opened #166 "应该提示一下git命令的执行结果不能包含中文字符！"
我在Ubuntu kylin里面折腾org-page,怎么折腾怎么不对，老是发布不了东西，后来看了一下代码，原来代码里通过与git命令的返回结果的比对来判断成功与否，本来说问题不大的，但是坑爹的是，kylin系统里面是中文的git，是的，你没听错，这导致了，程序对结果的判断老是出错，后来我删掉了中文，换成了英文，问题解决了！

[2016-01-29 17:25] kelvinh commented on #165
1) Keywords are used for search engines, tags are used to aggregate posts, they are basically same but you can add more keywords to improve the searching for your site
2) You can copy the default theme somewhere, and customize it, and set the variable `op/theme` and `op/theme-root-directory` to make org-page use your customized version
3) Sorry, but currently this is not supported..

[2016-01-29 17:27] kelvinh commented on #161
不好意思，没注意到这个issue。。

`user-full-name`和`user-mail-address`是Emacs中非常有用的两个变量，可能不止是org-page会用到，所以建议你在Emacs配置中设置这两个变量。

[2016-01-29 17:29] kelvinh commented on #166
因为在实现org-page的时候，就没有考虑过中文系统的问题，所以这个确实是个疏忽，你可以把你的错误和相关的git输出贴在这里，后续会加强git使用这一块的逻辑。

[2016-01-29 18:45] fxfactorial commented on #165
Okay thank you. #3 sounds like a nice PR elisp opportunity :)

[2016-01-29 18:45] #165 closed

[2016-01-30 23:10] StephaneArguin commented on #70
+100  ;)

[2016-01-31 05:10] Yihulee commented on #157
对了，最好直接将git命令的返回结果暴露出来，因为有时候压根就不知道错在哪里，在linux上还好，问题不大，在windows上问题就很大了。
我在配置的时候遇到过这样的一个问题，执行`op/new-repository`命令的时候老是会报一个错误`Failed to commit changes on current branch of repository`,这个东西很离奇的，我压根不知道怎么改，后来直接单步执行，发现，在执行`git commit`命令的时候就已经出错了:
`Please tell me who you are.`
`Run`
  ` git config --global user.email "you@example.com" `
`  git config --global user.name "Your name" `
`to set your account'

[2016-02-01 09:41] kelvinh commented on #70
Oh, a FR from the ancient days... I will have a holiday the next several days, and I may figure out a way to implement it.

[2016-02-01 18:53] #153 closed

[2016-02-01 18:58] StephaneArguin commented on #109
@hrehfeld - Quick fix : create a custom theme from mdo (or any other) and remove About link from nav.mustache

[2016-02-03 21:05] StephaneArguin opened #171 "Need a way to change 'tag' name (I18N)"
For the same reasons as issue #163 , a way to set a tag name independently of its folder name would prevent a lot of issues with non-English languages.

[2016-02-16 19:27] brittAnderson opened #173 "Org-page not handling emphasis correctly"
In orgmode if I write this: /text/ and export to HTML I should get this _text_ , but instead with `op/do-publication-and-preview-site` I get this /_text_/. The word is properly italicized, but the slashes are not removed.

[2016-02-17 01:26] kelvinh commented on #173
The slashes in html are generated by CSS styles, not by html text. See [this](https://github.com/kelvinh/org-page/blob/master/themes/mdo/resources/css/main.css#L86).

[2016-02-17 02:51] brittAnderson commented on #173
Okay. I will edit the CSS for the "/" and "=" of the code delimiters and I you can close the issue, but why do you want to retain the orgmode mark-up in the html? For an org-mode based system, don't you want the final product looking more like the org-mode export to HTML does?

[2016-02-17 02:51] #173 closed

[2016-02-17 06:25] kelvinh commented on #173
It's just a theme, it looks cool for me to emulate org mode elements in html pages, if you feel it's weird, you could customize it and make it your style. :-p

[2016-02-17 09:26] kelvinh commented on #171
during design of org-page, I18N is not a consideration, so I18N for tags is not as easy as it for categories, we may need to build a map to handle this...

[2016-02-29 05:55] AaronFeldman opened #174 "[no match]"
Tried to install and use as advised, but am getting [no match] when M-x op/publish in emacs.  Not sure why.

[2016-02-29 14:25] CodyReichert commented on #174
Have you tried running `M-x` `package-refresh-contents` first? Sounds like it might be trying to get an old version from Melpa.

[2016-02-29 15:06] AaronFeldman commented on #174
​Ok.  Am trying that now, although it is seeming to hang on "Contacting
host: melpa.org:80"

Thank you for the quick response.  I'm new(ish) to emacs and certainly to
org-page.  Hopefully this is the start of a long fruitful relationship with
both.  Are you the developer?​

On Mon, Feb 29, 2016 at 9:25 AM, Cody Reichert <notifications@github.com>
wrote:

[2016-02-29 15:11] AaronFeldman commented on #174
Looks like I have a bug in my Melpa.  I'll fix that first.  Thanks.

On Mon, Feb 29, 2016 at 9:25 AM, Cody Reichert <notifications@github.com>
wrote:

[2016-02-29 16:26] AaronFeldman commented on #174
I think that I managed to update the package store updated (because it
asked me if I wanted to update, although when  I updated I noticed it
seemed to be pulling updates from Elpa)

Still seems to be the same error.  I am trying to html publish a plain .org
file that I have on my system.

On Mon, Feb 29, 2016 at 9:25 AM, Cody Reichert <notifications@github.com>
wrote:

[2016-02-29 18:06] CodyReichert commented on #174
Hey @AaronFeldman - I'm not sure where my comment went!

At any rate, I'm not the developer, just thought it might be a problem with the package version. Good you got it updated but I'll let someone else chime in with some more troubleshooting steps, I'm at the end of my knowledget with org-page :)

[2016-03-01 02:45] kelvinh commented on #174
Thanks @CodyReichert ! Hi @AaronFeldman, the publication command should be `op/do-publication`, not `op/publish`, have you tried that?

[2016-03-01 03:58] AaronFeldman commented on #174
Will try it and report back.                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphone.

[2016-03-01 04:38] AaronFeldman commented on #174
Same problem when I use op/do-publication

[2016-03-01 04:45] AaronFeldman commented on #174
(require 'org-page)
  (setq op/repository-directory "media/dadsnewfiles/Aaron-Org-Mode")   ;; the repository location

[2016-03-01 10:00] kelvinh commented on #174
Please paste output in ***Messages*** buffer here when you executing the command.

[2016-03-01 13:09] cpaulik commented on #110
One additional problem is that prettify.js does not seem to support `emacs-lisp`. See e.g. http://blog.pschorf.com/blog/2016/02/28/spacemacs-blogging/ . In the first code block it thinks that `'org-page-theme-kactus` starts a string.

[2016-03-01 14:52] AaronFeldman commented on #174
Unfortunately attempting M-x op/do-publication does not output anything into the Messages buffer.  In that regard it is strange, [no match] which disappears quickly is the only indication of a failed command.

[2016-03-02 05:06] kelvinh commented on #174
Seems it's because the command cannot be found, probably your org-page is not loaded. you could execute `(require 'org-page)` in **Scratch** buffer with `C-x C-e` and see what happens, and then try `op/do-publication` again.

[2016-03-02 05:25] kelvinh commented on #110
I find two related issues at prettify.js' repo:
https://github.com/google/code-prettify/issues/159
https://github.com/google/code-prettify/issues/176
Please have a try to see if it works.

[2016-03-02 14:01] cpaulik commented on #110
Thanks.

Exporting emacs lisp as lisp and adding
`<script src='http://google-code-prettify.googlecode.com/svn/trunk/src/lang-lisp.js' type='text/javascript'></script>` to the template fixes the string issue.

I'm not sure how big the differences between lisp and emacs-lisp are and if this could be a source of problems.

[2016-03-02 14:31] AaronFeldman commented on #174
Thanks @kelvinh I tried evaluating it in the Scratch buffer as you said and it loaded.  I have to figure out the rest, but now I think it is doable.

[2016-03-03 02:09] kelvinh commented on #174
Great to see it finally works. :-)

[2016-03-03 02:09] #174 closed

[2016-03-05 08:03] smaximov opened #175 "`op/new-repository' doesn't work in `ru_RU.UTF-8` locale"
When I tried to create new repository using `op/new-repository`, I got `Fatal: failed to initialize new git repository…` error.

When I looked at the source code, I noticed that `op/git-init-repo` checks for the string `Initialized empty Git repository` in the command's output. In my case (`ru_RU.UTF-8` locale) `git init` returns the following message when succeeds (in Russian): `Инициализирован п

[2016-03-06 04:43] smaximov opened #177 "Setting `op/highlight-render` to `'htmlize` doesn't work with default theme"
Setting `op/highlight-render` to `'htmlize` with default theme has no visible effect. Yes, it does render code blocks using **htmlize**, but that doesn't make any sense as long  as we have [prettify.js](https://github.com/kelvinh/org-page/blob/e1567cbfa0984ddcb868b1fd7988660b42c7e244/themes/mdo/templates/footer.mustache#L48) and [media/js/main.js](https://github.com/kelvinh/org-page/blob/e1567cbfa

[2016-03-18 13:21] kelvinh commented on #175
thanks PR #176 , closing this issue.

[2016-03-18 13:21] #175 closed

[2016-03-31 17:30] Trevoke opened #178 ""new post" function should take you to the correct branch"
I think every single time I've tried to write a blog entry (maybe 10 or so .. I don't write all that often), I trustfully choose the "new post" function, write my new post, publish it, then realize I didn't publish it at all.

[2016-04-03 17:09] Trevoke opened #179 "Marking posts as drafts (not to be published)"
Hi, how can I keep org-page from publishing some of my works in progress?

[2016-04-04 02:50] kelvinh commented on #179
Sorry, there is no built-in support of this, but you may use `git stash` to stash your drafts and use `git stash pop` later to resume the drafts.

[2016-04-04 02:53] kelvinh commented on #178
You are right, we should change to `source` branch first.

[2016-04-04 03:27] kelvinh commented on #178
fixed, but may still need some time to sync the fix to melpa repo.

[2016-04-04 03:32] kelvinh commented on #166
PR #176 has fixed this issue, closing.

[2016-04-04 03:32] #166 closed

[2016-04-04 17:56] Trevoke commented on #179
I've started using a directory in the `master` branch called simply `wip` for this. It's not ideal, but I can commit the work and work from any computer.

How about a git branch called `drafts` or something similar?

[2016-04-05 03:00] kelvinh commented on #179
Creating a new branch might be too heavy for this, I think using a folder "drafts" in `source` branch might be enough, it's easier to achieve and understand.

[2016-04-05 03:25] Trevoke commented on #179
I agree.

On Mon, Apr 4, 2016 at 11:00 PM Kelvin Hu <notifications@github.com> wrote:

[2016-04-07 17:10] Linuus opened #180 "Generate content on main index page"
Hi!

I'm trying to create my blog with org-page but have som questions.

1. The main index file is static? Can I replace it with a list of my posts (like the archive page) instead? (Like this http://nick.balestra.ch)
2. Can I preview the site before committing? It seems I have to stage and commit locally before previewing, is that correct?

Thanks

[2016-04-07 22:44] 0x7cc commented on #110
Hi!
I am using **highlightjs** in my website built with org-page.

My solution was reduce `main.js` to:

[code]
This code:
* Remove class attribute from `<pre>` HTML Tag
* Put `<code>` between `<pre>` and his content.
* `hljs.highlightBlock(block);` - from highlightjs [usage](https://highlightjs.org/usage/) - Custom Initialization section.

And now **highlightjs** works for `pre.src` and `pre.exam

[2016-04-13 10:33] kelvinh commented on #180
1. if you do not provider an index.org, org-page will generate one index page for you, basically it's a list of posts.
2. yes, you can, there is a function doing this job: `op/do-publication-and-preview-site`.

[2016-04-13 11:04] Linuus commented on #180
1. Oh, nice. I'll try that!
2. Yes, I ran that function but it didn't update anything unless I did a commit first.

- Edit files
- Run `op/do-publication-and-preview-site` => No updates in preview
- Commit changes
- Run `op/do-publication-and-preview-site` => Changes are displayed

Is that the intended behavior?

[2016-04-13 11:34] #178 closed

[2016-04-13 17:59] Linuus commented on #92
Yes! This would be awesome! :+1:

[2016-04-13 18:01] Linuus commented on #180
Another update. So the issue with content not being previewed was that it must be added to git first. So when you create a new blog post it must be staged before you can preview it. After that you can just add away and run the preview command. Cool!

[2016-04-13 18:01] #180 closed

[2016-04-14 12:08] Trevoke commented on #180
This is one of those things that should probably be added to the Readme :)

[2016-04-14 21:19] Linuus opened #182 "Add images to posts"
Hi!

I'm trying to add images to my org blog posts and I can only make it work with web urls so far, not local files.

Should I put my images somewhere special?
Is it even possible?

[2016-04-15 09:28] smaximov commented on #182
Place a file (i.e., `img.png`) in the directory where your blog post is stored, then you add it to the post using following link: `file:img.png`. Example layout:

[code]

…and somewhere in `post.org`:

[code]

[2016-04-15 16:40] Linuus commented on #182
@smaximov Cool! Thanks!

[2016-04-15 16:40] #182 closed

[2016-04-18 14:21] Trevoke opened #184 "Failing to publish: buffer *temp* modified; kill anyway?"
Here's the relevant log from `*Messages*`:

This is a file I've previously published - in case it makes a difference.

My org-page config looks like this:

[code]

[2016-04-19 13:51] Trevoke commented on #184
I toyed with org-page a little. I have the impression it's trying to be clever by determining what work needs to be done. It looks like if something goes weird, it's very hard to recover.

For instance, if you go to the homepage: https://blog.trevoke.net/ -- you'll see a link for "benefits of a rapid test suite". That link was generated, but the HTML wasn't. And now I have no idea how to get it to

[2016-04-19 13:54] Trevoke opened #185 "org-page does not play nice with magit"
Oftentimes I'll run `op/do-publication` after committing an org file with magit. Then when I refresh the magit buffer, it'll ask me if I want to save the org file, because it's in the repository.

The thing is that I've now changed branch, so if I save it, I'm gonna save a change in the wrong branch.

I don't know if there's really a solution, but it's a problem in my workflow and I don't know wha

[2016-04-22 03:50] noctuid opened #186 "Support for Isso"
[isso](https://github.com/posativ/isso) is an open source commenting server. It might be nice to support as an alternative to using disqus.

[2016-04-25 03:21] stardiviner opened #187 "support async publication"
Many times, my git push is very slow, might need to take about 20 minutes for pushing because of network problem. So I wish org-page can support async publication. This is very important. Emacs can free from freeze.

[2016-05-09 15:29] zwb-ict commented on #184
+1

[2016-05-10 02:12] zwb-ict commented on #184
@Trevoke Have you found another way to publish avoid this problem？

[2016-05-10 13:44] zwb-ict commented on #184
@Trevoke @kelvinh This seems some bug with org-*, after update all elpa, this bug is missing.

[2016-05-11 01:50] stardiviner opened #188 "How to generate wiki page under org-page wiki category?"
RT.

[2016-06-01 11:40] WangLeshan opened #189 "No example org source files in https://github.com/kelvinh/kelvinh.github.com?"
In the README file, you said that

but I can not find the org source files.

Searching for ` filetype:org  site:github.com/kelvinh` one can find many org files in your github site, but searching for `filetype:org github.com/kelvinh/kelvinh.github.com` one gets no results.

Could you show me the path of the org source files or upload some example source files to github? Thank you.

[2016-06-01 11:45] smaximov commented on #189
Hello, @WangLeshan. Org source files are located in the [source](https://github.com/kelvinh/kelvinh.github.com/tree/source) branch.

[2016-06-01 12:52] WangLeshan commented on #189
@smaximov
Thank you very much!

[2016-06-01 12:53] #189 closed

[2016-06-02 01:39] WangLeshan commented on #184
@Trevoke I met the same problem.

By the following steps,  `buffer *temp* modified; kill anyway` was avoid, but I do not know why my way works.

For short, I just del the master folder in repository-directory.

Maybe one needs add `(setq op/site-domain "http://127.0.0.0/")` in` .emacs `

Suppose your org source files are in the folder ~/src/projects/trevoke.github.io/source,

- Step1.Clean **all**

[2016-06-04 19:12] CangWolf opened #190 "category-ignore-list just not dispaly, but generate html file, and all in the rss file"
i set category-ignore-list , generate website is not dispaly those categories, but also generate org files in these ignore categories, and also in rss

[2016-06-06 15:28] lechain commented on #184
@zwb-ict sorry, I have reinstall all my packages in emacs(because of this problem), however, this bug still exists. so, what should I do to resolve this problem..

[2016-06-06 15:32] lechain commented on #184
In my emacs, the error messages are these:

[2016-06-08 12:45] willtm opened #192 "errors when using op/new-repository and op/new-post"
Hello,

I'm using `GNU Emacs 24.5.1 (x86_64-w64-mingw32) of 2015-05-16 on KAEL` with `org-page 20160413.329`.  I encounter errors each time I attempt to use `op/new-repository` and `op/new-post` (see below) that look similar.  I know very little about Elisp but both functions appear to be failing when when trying to confirm a string.

Error from `op/new-repository`
[code]
Error from  `op/new-post`

[2016-06-15 13:50] WangLeshan commented on #192
@willtm, do you install git on your Windows system and does git in your system path?

[2016-06-19 07:57] diadochos opened #193 "Setup multiple sites"
I believe this would be possible once you delegate configurations (i.e. title, subtitle, categories, and so on) from variables to a config file. I will see if I can get the time to do it.

[2016-06-19 08:03] diadochos commented on #193
Never mind, I figured https://github.com/tumashu/org-webpage seems to have a support for this.

[2016-06-19 08:03] #193 closed

[2016-06-25 23:28] zwb-ict commented on #184
@lechain Do you use spacemacs? I found after clean upgrade elpa. This issue is still there. But cd elpa and delete org-*, then restart spacemacs, after autoinstall org-*. restart again. This bug is gone. It's amazing!

[2016-06-26 02:29] lechain commented on #184
thank you, i use spacemacs, i have solve it by reinstall spacemacs..

On Sun, Jun 26, 2016, 07:28 Altaїr <notifications@github.com> wrote:

[2016-07-07 20:06] willtm commented on #192
@WangLeshan Sorry for the delay in replying.  Yes, git is installed on my Windows system at `c:\Program Files\Git\cmd\`, which is also in my `PATH`.  I still get the same errors.  Should I try reinstalling org-page?

[2016-07-13 12:40] lsankar4033 opened #194 "Link support"
Is there a good way to define relative links to other parts of my org-page-site from a given page?  Currently I'm just using absolute links based on my actual site URL, but that feels a bit janky.

[2016-07-15 02:12] kelvinh commented on #194
Sorry, currently only image links are supported to convert automatically. :-(

[2016-07-15 02:15] kelvinh commented on #192
Does the directory "c:/Users/Will/Dropbox/websites/org-page/" exist? If exists, then you may open a cmd shell in that directory and execute `git init` to say what happens.

[2016-07-15 02:26] kelvinh commented on #188
make a directory "wiki" in the repo, and put org files in that directory.

[2016-07-15 02:27] kelvinh commented on #184
@zwb-ict is right, only delete the org-* packages in elpa, and then it will be alright.

[2016-07-15 04:53] #188 closed

[2016-07-15 14:22] willtm commented on #192
@kelvinh the directory didn't exist.  I created it, ran `git init` as you recommended and got the following:

`Initialized empty Git repository in c:/Users/Will/Dropbox/websites/org-page/.git/`

Following that, I attempted to execute both `op/new-repository` (selecting `.../org-page/.git/` as the initial repository at the prompt) and got the same error message I provided earlier.  I tried the same

[2016-07-18 06:15] kelvinh commented on #192
According to the message, it seems because your git executable cannot be found. You may check the variable `git-executable` to see if it is `nil`, and also, run `(executable-find "git")` to see if it produces `nil`.

If the both result is `nil`, you should check `exec-path` to see if you included the right one.

[2016-07-18 14:57] willtm commented on #192
@kelvinh thank you for that advice.  I found that both `git-executable` and `(executable-find "git")` were indeed both producing `nil` when I checked them.  I'd misconfigured my `exec-path` in my init file.  After the change, both results can find git at `c:/Program Files/Git/cmd/git.exe`.

After making that change, I attempted to use `op/new-repository`. It was successful (!) and I saw the follow

[2016-07-18 20:54] willtm commented on #192
@kelvinh I found the source of the last problem.  The variable below had not been set in my `org-page` configuration.

`(setq op/repository-directory "path/to/your/org/repository")`

Once I set it, everything worked as expected.  Thank you for your help!

[2016-07-19 01:58] kelvinh commented on #192
Glad to see it works, congratulations! :-)

[2016-07-26 23:37] arademaker opened #195 "how to handle github projects page?"
https://help.github.com/articles/creating-project-pages-manually/

For projects, we usually have url ```http://username.github.io/project-name/```. I didn't find a way to customize the base URI of the website.

[2016-07-28 06:20] kelvinh commented on #195
set `op/site-domain` to "http://username.github.io/project-name/" ?

[2016-08-04 14:38] moocing opened #196 "No html pages generated in master"
### Environment
Ubuntu 16.04, Emacs 24.5.1, Git 2.7.4. org-page and a few other packages were installed by "M-x package-install package-name" via Emacs package management system. Ruby and jekyll were installed by apt-get as I was first figuring out how to blog with jekyll. Don't think this matters.

### Emacs Configuration in .emacs:
`(require 'org-page)`
`(setq op/repository-directory "~/moocing.

[2016-08-05 08:45] dilzeem opened #197 "Cannot create a new post"
Hi,

I am using Spacemacs (0.105.21) and Emacs (24.5.1). I installed org-page from Melpa.

I can successfully create a new repository, and I have the git files intialized, readme, index.org and about.org created. I also ensure that I am on the source branch when I am create a new post I get the following error.

[code]
I am not sure what the error is to be honest? This is what have I put as my ini

[2016-08-06 11:23] sandric commented on #180
Looks like its not working now - if I remove index.org file I get in messages buffer `Opening input file: No such file or directory, /Users/sandric/.emacs.d/sandric.github.io/index.org`

[2016-08-08 11:02] kelvinh commented on #196
Did you commit the post by git after step 5?

[2016-08-08 11:06] kelvinh commented on #197
The error says there is no "source", if you are sure "source" branch exists, then run the command in a cmd shell, see if there is the same error.

[2016-08-08 11:08] kelvinh commented on #180
try removing and then committing the change?

[2016-08-08 15:52] dilzeem commented on #197
Thanks for your response. I solved the error. It was a typo on my end. Thank you for an excellent package.

[2016-08-11 07:20] kelvinh commented on #197
Glad you solved the problem! :)

[2016-08-11 07:20] #197 closed

[2016-08-19 09:57] moocing commented on #196
Thanks for the response.

Yes, I think so. I remember I could see the post in the local repository (in source branch). Later I found out that a few publishing functions name were changed after org-mode 8.0. I am using org-mode 8.3. Maybe that was why? Check out http://orgmode.org/worg/org-8.0.html

Anyway org-page's idea was great. Hope some day I can use org-page in org-mode 8 after you got the t

[2016-09-08 08:36] zhcosin opened #198 "Creating directory failed when publish"
Hi, I was trying use org-page, I has written the first file named start-blog.org in the directory [f:/zhcosin.github.io] which is bind to Github repository(branch 'source'), but when I execute op/do-publish the follow error has occur:
Creating directory: no such file or directory, c:/Users/Administrator/AppData/Roaming/.op-tmp/2016/09/08/start-blog/ Or /start-blog
and the directory C:\Users\Admini

[2016-09-08 08:50] zhcosin commented on #198
I am very very sorry, there is a line "#+URI: /%y/%m/%d/%t/ Or /%t/" in the header of my org file, when I remove the "/ Or /%t" in the end and the problem is fixed.

[2016-09-08 08:50] #198 closed

[2016-09-09 09:22] zhcosin opened #199 "fatal: could not read Username for 'https://github.com': No such device or address"
When I execute op/do-publication, the follow error has occur, but I can 'git push' in both master and source branch of the repository.
-----------------------
git-error: GIT Error: "Error running command: /usr/bin/git --no-pager push origin master
WARNING: gnome-keyring:: couldn't connect to: /tmp/keyring-2QqpRj/pkcs11: No such file or directory
fatal: could not read Username for 'https://github.c

[2016-09-14 09:26] zhcosin commented on #199
Now I has known the reason, I execute git push in msys2 then it work fine, but I execute git push in eshell the same error occur, so I reset the remote url of git repository then the error has been fixed:
[code]

[2016-09-14 09:26] #199 closed

[2016-10-04 09:54] #41 closed

[2016-10-09 17:10] Ananasr commented on #196
Up please !

[2016-10-11 07:21] zhcosin opened #200 "Weather a datail work flow should be add to README file?"
Hi, I was trying publish my org-mode file to github pages by org-page, I found I must commit my org file first befor execute op/do-publish, otherwise the html file is not generated, but I has not found this information in README and quick-start.org, so I suggest add this work flow into README or quick-start.org.
The right workflow is:  op/new-post --> save org file --> commit --> op/do-publish

Ad

[2016-10-11 09:07] zhcosin opened #201 "Maybe the URI of a new post use the filename instead of the title is better?"
Because my post name is English and the title is Chinese, but I want the URI is English...

[2016-10-13 04:45] zhcosin commented on #201
The benefit use the filename instead of the title is some character not applicable for url such as blank space may be contained in title.

[2016-10-22 19:13] tsdh commented on #194
I'm using org-page since today and that's a question I've also just had.  That would be a very welcome addition.

@kelvinh Images would have been my next question.  Consider I write a posting with many images, where would I put the images and how would I link them?

[2016-10-23 04:19] kelvinh commented on #196
Org-page do support org-mode 8.x, I think there should be some directory path related problems, can you post your source repo somewhere?

[2016-10-23 04:22] kelvinh commented on #201
Your could have your own uri-generator, have a look at my config:
https://github.com/kelvinh/dotfiles/blob/master/emacs/spacemacs#L356

[2016-10-23 04:30] kelvinh commented on #200
added a note to README

[2016-10-23 04:42] kelvinh commented on #194
Org-page do support image links and can convert them automatically, you can just put them in your repo, with a folder named like "images" or something else.

However, blog post links are hard to process, because they will change when converting from org to html, Org-page does not have the idea what the generated html file location is because user can define their own `uri-generator`.

[2016-10-23 05:56] tsdh commented on #194
Couldn't you process all org files of all categories first building a hash-map from file names to generated URIs and then use that for adjusting the links?

WRT images, there's no restriction on where I put them, right? I'd possibly put then in a folder named according to the post so that I would have `posts/Foo.org` and `posts/Foo/p1.jpg` and `posts/Foo/p2.jpg`.

[2016-10-23 07:47] kelvinh commented on #194
Yes, of course it could be done, I just say "hard" but not "can not", due to my limited free time on this project...

[2016-10-23 08:37] tsdh commented on #194
Would you accept a PR for this in case I find some spare time?

[2016-10-25 00:23] #200 closed

[2016-10-25 01:56] kelvinh commented on #194
Yes of course, definitely welcome!

[2016-10-25 03:44] zhcosin commented on #201
Thanks.

[2016-10-25 03:44] #201 closed

[2016-10-28 00:53] kevin5396 opened #202 "Change default category "Blog" title ?"
Can I use another name like "Post" as the title for that category?

[2016-10-28 02:44] kelvinh commented on #202
Sorry, "blog" is a default category cannot be removed, the uri cannot be changed, however, you can define a `:label` in `op/category-config-alist` to change the name shown on pages. See function `op/get-category-name` and variable `op/category-config-alist` for detail.

[2016-11-18 06:12] zhcosin opened #203 "Wrong type argument: listp"
I found a problem rencent, When I export a org file into html(not the publish in org-page), a error bellow has been occur:

and I found a directory named org-20161102 under .emacs.d/elpa, if I remove this directory, the problem went away.
So whether org-page will download its dependency org-mode?

[2016-11-21 02:18] kelvinh commented on #203
No, the dependencies are managed by your own configuration, if you don't have a package manager, you need to manage the dependencies manually; if you use `package.el`, it will download the dependencies automatically (after properly configured).

[2016-11-21 05:22] zhcosin commented on #203
Thanks for your reply.

[2016-11-21 05:22] #203 closed

[2017-02-06 06:25] jixiuf commented on #196
#207 maybe related
try
(setq op/repository-directory "~/moocing.github.io/") ;;ends with /

[2017-02-13 01:02] nasseralkmim opened #208 "How to add a small preview of posts in the index page?"
I tried without success to change the default index template so the post list include a small preview of them.

Do you have any guidance on how to accomplish that?

If it's possible I would like to show an image associated with the post, to increase visual interest in the content.

[2017-02-13 07:19] kelvinh commented on #208
Add `#+THUMBNAIL` option in the posts, and customize the "index.mustache", place `{{post-thumb}}` at the place you want, good luck!

[2017-02-19 00:05] #208 closed

[2017-02-20 07:33] samrayleung opened #209 "wrong-type-argument lisp #("About" 0 5 (:parent (#1)))"
i follow this blog [使用org-page搭建个人博客](http://google-ebook.com/blog/2015/12/24/%E4%BD%BF%E7%94%A8org-page%E6%90%AD%E5%BB%BA%E4%B8%AA%E4%BA%BA%E5%8D%9A%E5%AE%A2/) and your guide to configure my blog,but it couldn't work
my emacs version:`25.1`
my org-mode version:`9.0.5`
my org-page version:`20170206.1845 `
my configuration:
[code]
My Step:
1. `M-x op/new-post`
2. finish writing
3. git add new blog

[2017-02-22 06:22] kelvinh commented on #209
Is The repo at https://github.com/samrayleung/samrayleung.github.io? I tried, without any error, do you have any difference between your local repo with this one?

[2017-02-22 06:33] kelvinh commented on #209
If the error still exists, try cloning a working org-page blog repo (like mine), and then do the publication on it to see if the error exists, if it still exists, try remove all your org-* packages and re-install them; if not, it must be something wrong with your repo, you may need to check if your repo matches org-page's requirements.

BTW, you could use `op/new-repository` to create a repo which

[2017-02-22 09:06] samrayleung commented on #209
After i remove all `org-*` packages and reinstall again ,i get it work.Thank you Kelvln,you do a good job,org-page is awesome.But i think if you are free ,could you improve the document? IMO,if the awesome tool comes with detailed document,it is best.we all will appreciate it.thanks again

[2017-03-03 02:48] kelvinh commented on #202
Try add the following option in your org file:

`#+URI: /the/url/you/wanted/here`

[2017-03-03 14:58] nasseralkmim commented on #202
the url of individual posts are correct. But the url in the navigation bar is using the category name (blog) instead of the label (notes).

I think it is related with the variable: category-uri. Is it getting the name 'blog' or the assigned label?

[2017-03-06 03:17] kelvinh commented on #202
Yes, it's rendered by `category-uri`, only the shown name is controlled by assigned label, the uri is not.

[2017-03-06 03:48] kelvinh commented on #202
The newest commit has fixed this problem, happy hacking!

[2017-03-06 12:46] nasseralkmim commented on #202
That's great, thank you.

[2017-03-07 01:55] Txellenne opened #210 "I cannot get generated html posts"
Hi there.
Really nice job from I can see as demo but what if I (only) wanted to create/publish to a local blog (so, doing not committing or pushing to git (or, eventually, doing this afterwards, manually)). Also, as offered, as it reads on https://github.com/kelvinh/org-page/blame/master/README.org#L85 . Why (after setq op/repository-directory as instructed) when running either  `Mx op/do-publicat

[2017-03-07 02:42] kelvinh commented on #202
What is broken? the ignore list cannot ignore the blog category, as it's one of the default categories.

[2017-03-07 02:48] kelvinh commented on #210
The location referenced by `op/repository-directory` must be a valid git repo, did you initialize it? If not, try `op/new-repository` to create a valid org-page git repo. If the repo is valid, double check if the value of `op/repository-directory` is correct.

[2017-03-07 10:32] nasseralkmim commented on #202
It seems that a category with a different label produce a new folder with the label name without a index.html, and since the url is generated by a folder with a index.html you don't get the list of entries in the category.

It's better to keep the way it was, the label only change the name displayed, not the url.

[2017-03-07 15:41] Txellenne commented on #210
mmm.. the reason I put this eventuality is the case of having not one but several repositories (being all of them managed from the same pc) (so dealing with the fact of either setting *multiple remote repo's,* every each with a `identity ssh-key`, as suggested e.g. **[here](http://stackoverflow.com/questions/7927750/specify-an-ssh-key-for-git-push-for-a-given-domainas)**  or using *a kind of git-a

[2017-03-08 02:48] kelvinh commented on #210
Glad you solved it!

[2017-03-08 02:48] #210 closed

[2017-03-08 15:28] Txellenne commented on #210
not solved but thanks, anyway.

[2017-03-10 10:44] kelvinh commented on #202
Yes, you are right, the commit has been reverted. There is another dirty way to achieve this: edit the template **nav.mustache**, put the things you wanted there directly.

[2017-03-11 14:32] vipzrx commented on #142
https://www.reddit.com/r/emacs/comments/2k2kmv/melpamilkboxnet_is_now_melpaorg/

现在改名了

国内不能访问，需要设置成

ELPA 镜像 - Emacs China
http://elpa.emacs-china.org/

[2017-03-13 02:47] kelvinh commented on #142
@vipzrx Thanks for the reminder!

[2017-04-28 07:37] drtutut opened #213 "Cannot change date format in generated category indexes"
Hello,

I noticed that it is not possible to change the format of the dates in the category indexes.
I introduced a new customizable variable which allows to specify a formating function for this date (by default, this function is just the identity function). This function is then applied during the generation of index pages. Would you be interested by a pull request ?

Eric

[2017-04-28 08:53] kelvinh commented on #213
Yes, PRs are always welcome!

[2017-04-28 11:01] drtutut commented on #213
Done ;o) I forked and submitted a PR.

[2017-04-28 11:01] #213 closed

[2017-05-21 18:56] localredhead opened #217 "Org-page does not ignore the themes folder"
<img width="869" alt="screen shot 2017-05-21 at 1 16 26 am" src="https://cloud.githubusercontent.com/assets/152448/26286511/3d748364-3e1c-11e7-9f0f-f123b399552c.png">

I've found that I need to make adjustments to the theme I want to use so I have a themes folder in the root of my project.  The themes folder is not being ignored even though it is specified as a default category to ignore.

in the

[2017-05-22 02:53] kelvinh commented on #217
Did you set `op/category-ignore-list`?

[2017-05-22 03:01] localredhead commented on #217
Yes :(

On May 21, 2017 7:53 PM, "Kelvin Hu" <notifications@github.com> wrote:

[2017-05-22 12:29] kelvinh commented on #217
The newest commit should have fixed this problem.

[2017-06-07 05:21] #209 closed

[2017-06-07 05:44] samrayleung opened #219 "mapcar: Symbol’s value as variable is void: plist"
Platform:
OS: Arch Linux
Emacs Version: GNU Emacs 25.2.1
Org-mode Version: 9.0.8
Org-page Version: 20170530.1956

Configuration:
[code]

My problem:
I delete all my org-* file accidently, and then when I reinstall and  compile `org-page`, I get some warning, and one of them is:
`Warning (bytecomp): reference to free variable ‘plist’`.

 After that when I publish my post as usual, an error occurs:

[2017-06-07 11:26] kelvinh commented on #219
Please paste the call stack.

[2017-06-07 11:36] samrayleung commented on #219
I have added a new post, and this is my backtrace:
[code]

[2017-06-07 11:46] kelvinh commented on #219
The newest commit fixed this problem, please wait for the melpa repo to update this package, or you can clone my repo to get this fix.

[2017-06-07 12:28] samrayleung commented on #219
Thanks so much for your work :)

[2017-06-09 15:35] stardiviner commented on #194
I think this would be better to be in Org-mode built-in. I use Org-mode babel to generate inline image result link a lot.

[2017-06-12 19:01] rolandoam commented on #184
I'm still having the same issue. Running emacs 25.2 and orgmode 9.0.8 (org-20170606 from melpa). This is trying to build your (@kelvinh) blog, error:

[code]

[2017-06-13 02:39] kelvinh commented on #184
@rolandoam Please paste your call stack here.

[2017-06-13 20:59] rolandoam commented on #184
I removed all elpa packages and installed again fresh: it is working now :) thanks!

[2017-06-15 10:35] kelvinh commented on #184
Glad it works finally :-p

[2017-08-02 08:57] ccsheller opened #220 "Symbol's function definition is void:seq-take"
I use the spacemacs.I wrote a layer for org-page.Use it all right on windows.
I suddenly found the result was not correct on ubuntu.I run it again,spacemacs says:

So,I add (require 'seq) in op-export.el and it seams right.
but spacemacs says:

i search 'seq' in .emacs.d,the package is in the dir.

[2017-08-02 09:10] ccsheller commented on #220
No useful information on google.
spacemacs community : the issue was closed.
flycheck community : the issue was closed.

They mentioned the update packages.
This is useless.

@NicolasPetton says:seq is built in emacs 25.

so i reinstall the emacs 24.5 to 25.2.

fixed this issue.

[2017-08-02 09:10] #220 closed

[2017-08-02 09:21] NicolasPetton commented on #220
The package should add a dependency to `seq`, which will then be pulled from ELPA on Emacs 24.5.

[2017-08-02 10:23] ccsheller opened #221 "missing items : blog index and rss"
when i review my blog.i saw missing items in "blog" page  and rss.
I thought that my new org file has some problems.so it wasn't  generated correct.
Check the file without finding  problems.

I  was debug the code to solve this problem.

[2017-08-02 10:49] ccsheller commented on #221
Unfamiliar to lisp.This is hard to debug elisp code.
I found fun sort change file-attr-list's value.The value had also been modified in the caller.
search...search...search
[Non-destructive sort in lisp?](https://stackoverflow.com/questions/34032558/non-destructive-sort-in-lisp)

It is recommended to copy.

#220

[2017-08-07 02:25] #219 closed

[2017-08-07 02:26] #217 closed

[2017-11-13 01:22] vimsucks opened #223 "generate CNAME file"
a CNAME  file should be generated under master branch if variable **op/site-domain** is set

[2017-11-20 03:08] kelvinh commented on #223
Sorry for late reply, it seems CNAME file only works for GitHub pages, however, org-page is a generic static site generator, it is not only for GitHub pages, so I think it's not proper for org-page to do this job.

[2017-11-20 03:12] #223 closed

[2017-12-15 20:41] frankieliu opened #224 "site domain /"
Most hrefs generated have a / at the beginning, which refers back to the primary domain.
Since I want the generated site be under  http://somedomain/my-org-page, op/do-publish doesn't quite work.  I thought the quickest work around is to introduce a base in the head

 <HEAD>
   <TITLE>Base element example</TITLE>
   <BASE href="http://somedomain/my-org-page/">
 </HEAD>

I could create my own musta

[2017-12-28 03:20] kelvinh commented on #224
Sorry for the late response, org-page does not support this scenario, so you might have to create your own mustache template...

[2018-02-07 07:15] ZucchiniY opened #225 "org mode 下载两次"
使用 `use-package` 加载 org 和 org-page 的时候。如果清空所有 elpa 内容，重新下载的时候，会重新下载一个 org 。

[code]
这样启动emacs之后，会有两个org mode package在elpa下,一个是org,一个是org-plus-contrib。

<img width="211" alt="2018-02-07 15 06 17" src="https://user-images.githubusercontent.com/6075807/35903324-9bb1ec34-0c19-11e8-8426-aa398fae262e.png">

有没有办法，在加载包的时候，使用 org-plus-contrib 中的内容？

[2018-02-11 04:16] kelvinh commented on #225
看起来org-plus-contrib是单独的一个包？

[2018-04-05 20:15] jinnovation commented on #109
@StephaneArguin: This unfortunately still allows a user to go to `/about` and see the default about page. Granted this is a minor concern, given that the page is hidden if the link is removed from nav.mustache.

[2018-04-07 20:12] jinnovation opened #226 "Placement of Google Analytics code?"
Google Analytics seems to suggest placing the tracking code ["right after the `<head>` tag on each page."](https://support.google.com/analytics/answer/1008080) Is there a reason `org-page` decides to place the code at page bottom instead?

Would be happy to submit a PR if it turns out that up-top is the better approach.

[2018-06-19 04:48] broken-username opened #228 "Tag generates twice"
Hello,

I've noticed that, when I do an "op/do-publication", most everything works, but the "Tag" header generates twice (two Tag items at the top of the page, both leading to the same place). I haven't figured out why this is and would rather not have to manually remove that second Tag link every time. What am I doing wrong, if anything? It's been pretty frustrating trying to work around it.

[2018-09-09 11:27] GnaneshKunal commented on #228
I solved it by commenting the hardcoded "Tags" header from the header file. The overall header generation is such that when a new folder is being created, it is given a separate header. So when we compile the project we get a "blog" folder and also a "tags" folder. So the header generation is such that we get both the dynamic and static headers. `blog` and `tags` headers are generated dynamically.

[2018-09-29 18:19] nnungest opened #229 "Spacemacs documentation?"

[2018-10-16 22:46] uGeek opened #230 "rss Podcast"
Would it be possible that in the Feed, add a file, such as, to create the Blog of a podcast?

I really like your project. Congratulations

[2018-10-27 00:59] ieure opened #231 "Improved image handling"
It would be terrific if there was a better way to attach images (or whatever) to posts.

 - Support for org attachments.  This is the flow I use for most of my own things.  Org-page ignores the files.
 - Support for bundling all parts of a post into a directory.  ex. instead of creating `blog/post-title.org` and `blog/random-image.jpg` -- which aren't obviously linked in any way -- you could make

[2018-10-29 01:47] #229 closed

[2019-08-21 09:44] #226 closed

[2020-05-07 07:43] philipphoman opened #232 "Two machines"
Is it possible to run org-page on two different machines, i.e., posting content from two (or more) different local systems as you would normally do when using git?

[2021-03-27 19:42] tarsius opened #233 "The new upstream doesn't exist anymore"
@shakthimaan The readme of this repository sais:

Unfortunately this newer gitlab repository of yours does not exist anymore. Could you tell us more about that? Did you move it elsewhere? Did you give up on it? Does someone else maintain it now?

[2021-03-27 19:44] tarsius commented on #233
@sillykelvin If you moved on to some other org-based blogging utility, then what is it and why? Are there any issues with `org-page` or do you just don't want to / cannot maintain it anymore?

[2021-03-28 07:36] shakthimaan commented on #233
I have not had much time to work on org-page. If you would like to maintain org-page, please feel free to work on it. Thanks!

[2021-03-28 10:15] tarsius commented on #233
I just saw a nice looking blog and followed the "created with" link. I'm not really interested in maintaining this, at least not at this time and not before investing some time comparing with org-based alternatives.

But if I end up maintaining this package (or maybe must making some contributions), then I would like to base that on the latest code. As I understand it that would be your repository

[2021-03-28 10:17] shakthimaan commented on #233
Yes, I haven't made any changes to it. You can fork the repository from @sillykelvin.

[2021-03-28 10:20] tarsius commented on #233
Okay, thanks for the information.

I guess it would be best if @sillykelvin could revert the changes to the readme that pointed at your short-lived repository, but since this package is now unmaintained, I could also understand if he didn't. Anyway, there's now this issue with additional information about the situation, which should help if I or someone else picked this up in the future.

[2021-03-29 06:15] sillykelvin commented on #233
Broken link removed.

[2021-03-29 06:27] sillykelvin commented on #233
@tarsius Sorry, I'm just not interested in Emacs/Org-mode anymore, and don't have much time to continue to contribute to `org-page`. However, its current state is stable, it works well, at least works well for me in the past.

[2021-03-29 10:26] tarsius commented on #233
@sillykelvin That's perfectly okay! Thanks for responding and taking the time to remove the link.

Above I wrote as a potentially interested user but I am also interested in this as the maintainer of the [Emacsmirror](https://emacsmirror.net) and specifically the [Emacsorphanage](https://github.com/emacsorphanage). The latter serves as a place where abandoned packages can receive limited maintenan

[2021-03-29 13:49] sillykelvin commented on #233
Thanks for the advice, and it seems that's the best place for this repo! However, I have never transferred repos before, so: 1. What will happen to the repo in my account, will the links linked to this repo all be broken? 2. Will the issues/commits/PRs be kept? (The answer seems to be yes to Q2?)

[2021-03-29 14:44] tarsius commented on #233
Github puts redirects in place, so all existing links should be preserved. (This works for the web interface and `git`, but not the API.)

Yes, this is correct.

[2021-03-30 03:46] sillykelvin commented on #233
@tarsius Yeah, after the questions asked, I then found the answers in GitHub [docs](https://docs.github.com/en/github/administering-a-repository/transferring-a-repository). I have sent a transfer request of this repo to your personal account.

[2021-03-30 18:08] tarsius commented on #233
Argl... I waited too long and now the transfer request has expired. Please initiate it again. (It's really silly that they don't show a notification here in the web interface and that they let these requests time out after approximately 24h.)

[2021-03-31 06:09] sillykelvin commented on #233
@tarsius Another request is sent.

[2021-03-31 09:28] tarsius commented on #233
Thanks! I saw it in time this time around.

[2021-03-31 09:28] #233 closed

[2022-07-26 18:24] #92 closed